[2017-11-25 08:03] shanmugamgsn opened #1 "Scraper"
I tried to Install Linkedin_user_scrapper
I'm facing following error.

![2017-11-25](https://user-images.githubusercontent.com/5747352/33228593-1b40f8a6-d1e5-11e7-9673-ab8593606a28.png)

[2017-11-25 08:06] shanmugamgsn commented on #1
Ironically, I'm able to run individual files. Not able to do pip

[2017-11-27 20:49] joeyism commented on #1
huh, that's strange.

Do you have admin access on your console when you're pip installing? Maybe run
`pip install --user linked_user_scraper` instead

[2017-11-28 02:14] shanmugamgsn commented on #1
I tried this and got the following error.

Collecting linked_user_scraper
  Could not find a version that satisfies the requirement linked_user_scraper (from versions: )
No matching distribution found for linked_user_scraper

I'm a beginner, ,so I'm finding it difficult :(

[2017-11-28 03:42] joeyism commented on #1
Which python version are you using?

You can find out with `python -V`

[2017-11-28 05:14] shanmugamgsn commented on #1
It's Python 3.6.3

[2017-11-28 13:55] joeyism commented on #1
Try installing it from a git module, with

`pip install git+https://github.com/joeyism/linkedin_user_scraper.git`

[2017-12-05 05:29] joeyism commented on #1
@shanmugamgsn does it work for you now?

[2017-12-12 17:15] Ammarmajeed commented on #1
Hey I'm trying to install your Linkedin_user_scrapper by the following command as mentioned on your repo:
pip3 install --user linkedin_user_scrapper

. But I get this error:
Collecting linkedin_user_scrapper
  Could not find a version that satisfies the requirement linkedin_user_scrapper (from versions: )
No matching distribution found for linkedin_user_scrapper

[2017-12-12 18:45] joeyism commented on #1
@Ammarmajeed I'll fix it when I get home tonight. For now, you can install via

`pip install git+https://github.com/joeyism/linkedin_user_scraper.git`

[2017-12-12 19:28] Ammarmajeed commented on #1
Thanks

[2017-12-12 22:21] joeyism commented on #1
@Ammarmajeed the bug was that I misspelled `scraper` in the README. Try now with

`pip3 install --user linkedin_user_scraper`

[2017-12-13 16:40] Ammarmajeed commented on #1
It works. I have another issue now. So I made a test.py file with the following code in it:
[code]
And it gives me this error:
[code]
What I don't get is that despite downloading the chromedriver and putting it in my Path in my environment variable, it gave me the above mentioned error. Can you please help me out?

[2017-12-13 16:45] joeyism commented on #1
You have to set your env variable CHROMEDRIVER to be your chromedriver.

So if my chromedriver file is in ~, I'd set it by

`export CHROMEDRIVER=~/chromedriver`

[2017-12-13 20:45] Ammarmajeed commented on #1
So basically I named the folder which contained my chromedriver.exe CHROMEDRIVER and added the folder into my path as an variable named CHROMEDRIVER. Do I need to use the export CHROMEDRIVER=~/chromedriver command in the cmd or add this line in my python script?

[2017-12-14 19:55] joeyism commented on #1
@Ammarmajeed You need to reference your .exe as your variable. So in your environment variables, create one called CHROMEDRIVER and reference the specific location of your .exe file

[2017-12-18 17:22] Ammarmajeed commented on #1
Yes I did that.
I basically added the directory containing chromedriver to my path as a new environment variable as seen below:
![linkedinscrapper](https://user-images.githubusercontent.com/10882394/34118612-235b0928-e441-11e7-8fdb-5d1cc3bd41b4.png)

then I made a python script and ran it through my cmd and got the following error yet again:
![linkedinscrapper](https://user-images.githubuserconten

[2017-12-18 17:27] Ammarmajeed commented on #1
The script I ran had the following code in it as directed in your Usage section:

[2017-12-18 17:27] joeyism commented on #1
Oooooh I see what you did. Instead of adding it to PATH environment variable, can you try creating a new environment variable called CHROMEDRIVER, and reference the location for the CHROMEDRIVER environment variable

[2017-12-18 17:27] Ammarmajeed commented on #1
The script I ran had the following code in it as directed in your Usage section:
[code]

[2017-12-18 17:28] Ammarmajeed commented on #1
yes

[2017-12-18 17:36] Ammarmajeed commented on #1
Should I add CHROMEDRIVER as a user variable or a system variable?

[2017-12-18 17:43] joeyism commented on #1
I'm not a windows user, so I'm not quite sure what the difference is. Try either one and see if it works?

[2017-12-18 17:45] Ammarmajeed commented on #1
Okay will do. Thanks :)
Out of curiosity though, does this work better in windows or linux?

[2017-12-18 17:46] joeyism commented on #1
I've tested it on windows and it works fine. I'm just a natural linux user so I'm more familiar with the setup

[2017-12-19 15:38] Ammarmajeed commented on #1
So I made a new environment variable by the name of CHROMEDRIVER as you suggested. Now its showing another error saying:
'CHROMEDRIVER' executable may have wrong permissions. Please see https://sites.google.com/a/chromium.org/chromedriver/home

What permissions do I have to set here and how?

[2017-12-19 15:45] joeyism commented on #1
Can you screenshot your environment variables, so I can see exactly what you put down?

[2017-12-19 15:48] Ammarmajeed commented on #1
Sure. Here you go:
![envvars](https://user-images.githubusercontent.com/10882394/34165373-e4e98b98-e4fd-11e7-82bb-324f4a7ac41a.png)

[2017-12-19 15:50] joeyism commented on #1
Hmmm I can't see it from that screenshot, but are you referencing the folder or the .exe file from your env variable?

[2017-12-19 16:37] Ammarmajeed commented on #1
Yes Precisely ....

[2017-12-19 16:52] joeyism commented on #1
If you are referencing the folder, try referencing the .exe file instead. If you are referencing the .exe file, try just referencing the folder. Does either one work?

[2017-12-19 19:25] Ammarmajeed commented on #1
How can we reference the .exe file directly?. I was referencing the folder containing the file up till now. I replaced line 36 in scraper.py (`driver = webdriver.Chrome(driver_path)`) with:
[code]
And a browser tab opened up:

![lol1](https://user-images.githubusercontent.com/10882394/34174017-48ed7e72-e519-11e7-9763-7622356ddd2e.png)

Which after loading showed this:

![lol12](https://user-images

[2017-12-19 19:32] joeyism commented on #1
Ah okay. There's 2 parts to this.

I'll fix the first part later tonight, and republish so you can run it.

The second part is a thing that linkedin does sometimes, where they force you to login. I'm not sure when they force you to login, and when they don't. If you run it a few times, it should work eventually. I'll do some testing for that portion.

[2017-12-19 19:37] Ammarmajeed commented on #1
Cool. looking forward to your fix. Also apologies for being annoying. Hope youre not going through too much trouble because of me :)

[2017-12-19 22:46] joeyism commented on #1
It's no trouble, I'm happy that you're using this tool :)

The first problem should be fixed from release 1.1.0. Just pip upgrade the package and you'll get it. This new publish allows you to use your own webdriver, so you can run

[code]

[2017-12-19 23:13] joeyism commented on #1
The second problem can be solved with a hack from release 1.2.0 on:

When you create the Person, set scrape to False such that
[code]

Your chrome will still popup, and go to the person's page. Login with your Linkedin account, and log out. Linkedin has this new thing where they block profiles if you've never login before. [(Source)](https://www.linkedin.com/pulse/bypass-linkedin-join-now-see-nag-

[2017-12-20 13:57] ASzz commented on #1
Hello @joeyism,
I follow your instruction and finally get running code but i also get issue with login to linkedin each time. (I using chrome browser) Maybe it should by run in some special mode?
When i run this:
`from linkedin_user_scraper.scraper import Person
person = Person("https://www.linkedin.com/in/arkadiusz-szczeciński-794177101",scrape=False)`

it's opening my browser and each time i nee

[2017-12-20 14:33] joeyism commented on #1
Hi @ASzz ,
you have to log out after logging in on Linkedin, before you run `.scrape()`. It's because if you're logged in and you scrape someone else's profile, it'll show up on their feed that you looked at their profile.

I don't know any that scrapes companies, but you can make a new thread with a feature request and I'll do it, or fork this project, add it, merge it in, and i'll approve it.

[2017-12-20 16:46] Ammarmajeed commented on #1
@joeyism whats the pip command to upgrade the scrapper to the latest version?

[2017-12-20 18:21] joeyism commented on #1
@Ammarmajeed
[code]

[2017-12-21 09:04] ASzz opened #2 "[New feature] Collecting info about companies and employed people"
Hi,
I would ask you to improve your library to collecting information about companies. List of companies should be read from external CSV file. On output we should get info about company, below is image with marked required sections:
![image](https://user-images.githubusercontent.com/20205637/34248409-414065f4-e636-11e7-9084-84c711a0d03b.png)
![image](https://user-images.githubusercontent.com/2020

[2017-12-21 23:45] joeyism commented on #2
@ASzz This feature is published in `2.0.0`

I also changed the name. Since this is not just a user scraper, but a full linkedin scraper, I felt that it was better to change it to `linkedin_scraper` instead of `linkedin_user_scraper`. Version `2.0.0` is published in both `linkedin_scraper` and `linkedin_user_scraper`. However, new bug fixes and features will only update `linkedin_scraper`

[2017-12-22 09:08] ASzz commented on #2
That's great news @joeyism! Thanks much fro your hard work :)

Unfortunately I still have issue with log in to linkedin (I'm from Poland - maybe here it's required log in to see anything). I add couple line of code and successful log in to site but after that i still have issues...

When i try use your library for Person or Company I always get errors like this:
![image](https://user-images.github

[2017-12-22 19:56] joeyism commented on #2
Try doing this, in the exact order:
Run `ipython`
In `ipython`, run the following code (you can modify it if you need to specify your driver)
[code]
Login to Linkedin
**Logout** of Linkedin
In the same `ipython` code, run
[code]

Does that work/throw an error?

[2017-12-26 15:29] joeyism commented on #1
@Ammarmajeed does it work for you now? If it works, I'm going to close this thread.

[2017-12-28 20:51] Ammarmajeed commented on #1
Hey @joeyism . So I got the latest version of your tool and tried to run it in windows 10. I wrote the following script and got the same error as seen below the script:
[code]
![untitled](https://user-images.githubusercontent.com/10882394/34422939-ae76d7f2-ec3a-11e7-8068-ba5ab510b8b7.png)

[2017-12-28 21:02] joeyism commented on #1
Hi @Ammarmajeed

The code throws an error at

[code]
which is a selenium problem.

My suggestion is to open up python as is, and try to run selenium as is, without the `linkedin_scraper`. You can find their python docs [here](https://pypi.python.org/pypi/selenium).

[2018-01-01 19:30] Ammarmajeed commented on #1
Hey I figured out how to add the chromedriver.exe to path. Its done by:
`driver = webdriver.Chrome('~\chromedriver.exe')` where '~' is the directory(location) of the chromedriver.exe.
But now it gives the following errror:
![untitled](https://user-images.githubusercontent.com/10882394/34470484-f6b08ae2-ef53-11e7-8510-d06d4297208c.png)

And when I close the chromedriver program this shows on my cmd

[2018-01-01 19:35] joeyism commented on #1
If you open up python on cmd and run

[code]

does that throw an error of any kind?

[2018-01-01 19:37] Ammarmajeed commented on #1
Yup. The same error

[2018-01-01 19:39] joeyism commented on #1
Ah okay. That's still a chromedriver error, not a linkedin_scraper error. Which version of chrome are you using? [This link](https://stackoverflow.com/questions/43839674/chromedriver-exe-has-stopped-working-when-driver-navigate-gotourlhttp-www) may be a clue on how you can fix this problem

[2018-01-01 21:28] Ammarmajeed commented on #1
My version of chromedriver was not right. I downloaded the latest one and then ran the script again. A browser opened up (The cmd showed the response before the red line in the picture below). I logged into linkedin and then I signed out (The cmd showed the response after the red line in the picture below).
![untitled](https://user-images.githubusercontent.com/10882394/34471192-5bf2e322-ef64-11e7-

[2018-01-01 22:14] joeyism commented on #1
Okay, you got past the selenium error, which is good.

Try doing this, in the exact order:
Run `ipython` or `python`
In `ipython`/`python`, run the following code (you can modify it if you need to specify your driver)
[code]
Login to Linkedin
**Logout** of Linkedin
In the same `ipython` code, run
[code]

The reason is that LinkedIn has recently blocked people from viewing certain profiles without

[2018-01-02 15:21] Ammarmajeed commented on #1
![untitled](https://user-images.githubusercontent.com/10882394/34488476-7f76d704-effa-11e7-8a14-7a84ded3f8ab.png)

[2018-01-02 18:53] Ammarmajeed commented on #1
I understood and followed your steps but it's giving the following error in line 62 in person.py as shown in the above comment:
`NameError: name 'Experience' is not defined`

[2018-01-02 22:50] joeyism commented on #1
Hi @Ammarmajeed

It was a slight bug that occurred when publishing. Update to the newest version at `2.0.1` and it'll fix this problem

[2018-01-10 15:21] tmvnk opened #3 "Feature: scrape your timeline posts from connections"

[2018-01-11 12:02] touringkg commented on #2
@joeyism Hi Joey, I've got the same error, tried your recommendation above, login/out then run `company.scrape(close_on_complete=False)` but ipython / jupyter launches a separate chrome window so linkedin asks to sign in again which results in the same:

`In[4]: company.scrape(close_on_complete=False)
Traceback (most recent call last):
  File "C:\Users\...\Anaconda3\envs\scrapers\lib\site-packages

[2018-01-11 16:21] joeyism commented on #2
Hi @touringkg

It seems like Linkedin has changed its policy, so even having a cookie isn't enough. They probably did this to prevent scraping. Let me investigate into a solution

[2018-01-11 16:21] #1 closed

[2018-01-25 16:18] arkkanoid commented on #1
Following this thread.. I've an error previous to login to Linkedin:

`from linkedin_scraper import Person
from selenium import webdriver
driver = webdriver.Chrome()
person = Person("https://www.linkedin.com/in/andre-iguodala-65b48ab5", driver = driver, scrape=False)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/jordi/Library/Python/3.6/lib/python/site-pac

[2018-01-26 16:00] arkkanoid commented on #1
It was my fault, I'd a past version of chromedriver

[2018-02-04 17:19] ernests opened #4 "[Feature]: Current company"
Explicitly knowing company name allows me to go and find people at https://www.linkedin.com/title/[marketing]-at-[company-name]. Very valuable endpoint.

[2018-02-05 19:59] joeyism commented on #4
Can you give me an example of what [marketing] and [company-name] is?

[2018-02-05 20:09] ernests commented on #4
Sure:
https://www.linkedin.com/title/marketing-at-lego

[2018-02-10 19:56] joeyism commented on #2
@touringkg
You can scrape without logging out. Try it without logging out

[2018-02-10 19:58] joeyism commented on #4
@ernests
Is the [company-name] the same as company.name then?

[2018-03-11 15:26] joeyism commented on #2
Hi @kpking7
Do you want this done while you are logged in, or while you are logged out?

[2018-03-11 15:28] kpking7 commented on #2
Logged out if possible.

Sent from my iPhone

[2018-03-11 16:06] joeyism commented on #2
@kpking7 I don't actually know if logged out is possible. Logged in will take time to implement.

[2018-03-11 16:10] kpking7 commented on #2
Well that’s fine as well. I’d love to help build but am less sure where to start.

Sent from my iPhone

[2018-03-23 23:16] palewire opened #5 "no such element: Unable to locate element: {"method":"class name","selector":"name"}"
As of today, if I run this:

[code]

This comes back:

[code]

[2018-03-24 03:13] joeyism commented on #5
Linkedin keeps changing protocol. You might need to login before scrapping. You can do that with
[code]
which will launch a webdriver. You can login, then run
[code]

[2018-04-05 16:52] alvinjchoi opened #7 "How do I write into text file or csv file?"
Here's what I'm doing...
driver - webdriver.Chrome()
person = Person("http://www.linkedin.com/in/randomperson", driver = driver, scrape=False)
f = open('scrape.txt', 'w')
f.write(person.scrape())

But I'm getting an error..
TypeError: write() argument must be str, not None
How do I convert person object into string and append into text file, or better yet, csv file?

[2018-04-05 16:53] alvinjchoi commented on #7
To give you an idea of what I'm doing, I have around 400 linkedin URLs and want to scrape their name, location, current company, current position, etc.

[2018-04-08 20:04] alvinjchoi commented on #7
<img width="769" alt="screen shot 2018-04-08 at 4 02 14 pm" src="https://user-images.githubusercontent.com/31370892/38471940-3a0f05be-3b46-11e8-9291-728e9fb500db.png">

So.. I'm wondering if there's a way to parse through multiple urls and keep scraping.
I'm a very beginner in python, so it's a bit challenging.
I imported time method thinking maybe I'll need some time to give it to load the page.

[2018-04-08 20:57] joeyism commented on #7
Your error came about because you haven't logged in, and new Linkedin policy requires you to login for a lot of profiles.

You can login first, then loop through your file without closing browser. That way, you don't have to re-login every time

[code]

As a side note, it'd be a bit easier if you pasted your code in, instead of taking a screenshot.

[2018-04-09 11:37] joeyism commented on #7
I updated it with a bugfix, and it's published in `2.1.1`. Update your `linkedin_scraper` and try it again

[2018-04-09 23:54] #4 closed

[2018-04-09 23:55] joeyism commented on #2
@kpking7
Scraping employees is done automatically in v`2.2.x` on

[2018-04-09 23:55] #2 closed

[2018-04-09 23:55] #7 closed

[2018-04-17 07:25] rajeev-ra opened #8 "Crash in Company.py when linkedIn refuses to display more employee list"
For companies such as "https://www.linkedin.com/company/tata-consultancy-services/" if we try to get all employees, the linkedin does not shows employees after page 100 or so. Then there is a crash. This can be fixed by simple exception check "NoSuchElementException" thrown by webdriver

[2018-04-17 14:45] joeyism commented on #8
Jesus, that's a LOT of employees. Lemme take a look, but due to the nature of the problem, chances are I'll just stop it after 100 pages. There's really nothing more I can do, as Linkedin doesn't show employees after page 100 (for whatever reason).

[2018-05-11 18:25] Aly-Reda opened #9 "Linkedin profile Summary and Country"
it will be more than helpful if linkedin_scraper scrape Summary and country
#person.country
person.country=driver.find_element_by_class('pv-top-card-section__location Sans-17px-black-55%-dense mt1 inline-block').getText()
#Click
driver.find_element_by_xpath('//*[@id="ember1506"]/button/span[1]').click()
#person.summary
person.summary=driver.find_element_by_xpath('pv-top-card-section__location Sans

[2018-05-12 20:08] joeyism commented on #9
If you want to submit a pull request, I'd gladly look at it

[2018-05-23 17:16] BLCKPSTV opened #10 "NoSuchElementException"
Hello,

I almost got this to work. But in the end I get this error.

[code]
What can I do to fix this?

[2018-05-23 17:25] BLCKPSTV commented on #10
found it in the closed section!

[2018-05-23 17:25] #10 closed

[2018-07-11 03:42] meich353 opened #13 "Trying to write scraped employees of a company"
Apologies if this is a simple question, but is there a way to print the list of names from get_employees? It seems to be scrolling through the pages and gathering them, but I can't get them to display.

Thanks!

[2018-07-16 21:36] Nesslax opened #14 "Data not scraped"
Hey,
the script don't scrape website, company size and all thouse informations.

I don't know why but i can get the description
here is an exemple
<img width="1583" alt="capture d ecran 2018-07-16 a 22 46 20" src="https://user-images.githubusercontent.com/16743265/42784944-024e79da-8951-11e8-939e-8c6cfdfdc3c5.png">

[2018-07-20 15:56] Nesslax opened #15 "Long description fail"
When a company has a long desciption the script fail

[2018-07-26 21:22] swissbeats93 opened #16 "Failing to run"
For the life of me, I cannot get the scraper to run for a Person, may I please get the watered down version of the instructions if it's not too much to ask

[2018-07-27 06:06] swissbeats93 commented on #16
I've figured out the first part at long last. New problem now
![screen shot 2018-07-27 at 08 01 20](https://user-images.githubusercontent.com/30832909/43304330-f53e7ecc-9173-11e8-9429-ff2f0c0219cc.png)

[2018-07-30 02:35] swissbeats93 commented on #16
Tried something else and this is what I get:

Traceback (most recent call last):
  File "Execute.py", line 17, in <module>
    person = Person(linkedin_url, driver = driver, scrape = False)
  File "/Users/swissbeats93/Documents/WORK/SHC DATA ANALYSIS PROJECT/LI Scraper by PM/User.py", line 18, in __init__
    driver.get(linkedin_url)
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/py

[2018-07-30 21:50] #16 closed

[2018-07-31 09:09] swissbeats93 commented on #7
Following all the above steps, this is what results.
![screen shot 2018-07-31 at 11 08 14](https://user-images.githubusercontent.com/30832909/43450040-25c08d06-94b2-11e8-8a3b-208439cd3f9f.png)

[2018-11-08 10:20] MohammadHeydari opened #17 "NameError: name 'Person' is not defined"
i already install it by pip

when i'm try to run

[code]

it show me this error :

[2019-01-31 04:39] #17 closed

[2019-02-19 05:34] yangsh49 opened #18 "Chromedriver"
Hi joeyism,

Could you kindly explain more about: "export CHROMEDRIVER=~/chromedriver"? It will be really helpful for a beginner like me.

Thank you so much!
Shen

[2019-02-19 09:39] ernests commented on #18
In short - it allows your small scraper script find Chromedriver.

Longer discussion about _export_ on Stackoverflow - https://stackoverflow.com/questions/13795237/what-does-the-export-command-do

[2019-03-03 19:45] joeyism commented on #18
I also wrote a library that allows you to download a chromedriver if not exist locally: https://github.com/joeyism/autochromedriver

[2019-03-03 19:45] #18 closed

[2019-03-03 19:46] joeyism commented on #14
It may not be displayed, but it may still be stored in the object. Have you checked that?

[2019-03-08 04:35] pl4g4 opened #19 "Module error"
I followed the instructions

 `pip3 install --user linkedin_scraper`

and created a file

`from linkedin_scraper import Person
person = Person("https://www.linkedin.com/in/andre-iguodala-65b48ab5")`

python version

`Python 2.7.15rc1`

but im getting the error

`Traceback (most recent call last):
  File "./linkedin_scraper_1.py", line 6, in <module>
    from linkedin_scraper import Person
ImportEr

[2019-03-10 17:47] joeyism commented on #19
`pip3` installs it in python3. If you want it in python2, install it using `pip2`

[2019-03-12 02:56] pl4g4 commented on #19
Hi, using python3 i get errors because of print not using (), but python2 worked.

Im now getting problem with selenium.

[2019-03-12 15:07] joeyism commented on #19
If you're printing in python3, you must use brackets.

Can you copy and paste your code and the errors you're getting?

[2019-03-12 15:07] #14 closed

[2019-03-13 20:56] dtquandt opened #20 "Scraper times out and doesn't find HTML it's looking for"
I managed to get the script to run and logged in before scraping as pointed out in the missing element issue, but then I get a timeout when trying to actually scrape the page:

File "company.py", line 140, in scrape_logged_in
    _ = WebDriverWait(driver, 3).until(EC.presence_of_element_located((By.XPATH, '//h1[@dir="ltr"]')))
  File "wait.py", line 80, in until
    raise TimeoutException(message,

[2019-03-20 09:15] Crewxx opened #21 "NUMB QUESTION AND NOT AN ISSUE, PLEASE HELP"
I followed all procedures and scraping was done successfully as the Chrome closed on its own after scraping but I have no idea on how I could retrieve the scraped data. Please don't descend on me with anger because I am new on this data scraping and I really want to learn, please help me out.
HOW DO I RETRIEVE SCRAPED DATA, POSSIBLY SAVE AS .CSV FILE?

I have actually gone through the earlier issu

[2019-03-20 18:13] joeyism commented on #21
To scrape the data, you can run something like

[code]

There's no direct mapping to a csv, since the scraped data is unstructured. If you know exactly which field you want, you can loop over the objects and put the values into a csv file one by one.

[2019-03-20 23:33] Crewxx commented on #21
OK, THANKS

[2019-03-20 23:50] #21 closed

[2019-04-19 03:24] cancan101 opened #22 "Support Scraping Salary Data"
As seen on: https://www.linkedin.com/salary/

[2019-04-19 08:08] Nesslax commented on #22
It's would be amazing if we can scrap Salary 👍

[2019-04-24 15:20] joeyism commented on #22
Can you give me an example use case of this? Just something that I can work with

[2019-06-01 11:12] KUS5 commented on #5
Even when logging in, I get this error message, do you know how to solve that?

[2019-06-24 18:54] aaronsteers opened #23 "Scrape list of connections"
Is there any capability to scrape the list of connections for a given person? Or any pointers on how such capability might be extended into this codebase?

I'm hoping to use this to find connections-in-common between two given persons.

[2019-07-29 13:21] Pegovski commented on #5
Exactly same problem with the person to scrape, I guess css locators are changed or protocol

[2019-09-05 02:13] greggmojica opened #24 "Running on Company page fails"
When running on a company page (i.e. Google example) I'm getting this error. How can this be resolved?

[code]

[2019-09-05 10:41] Jeroenvanbennekom opened #25 "invalid session id"
I run into an 'invalid session id' error from selenium each time I try to use this scraper. I use the following code:

[code]

Where myemailaddress@gmail.com is subbed for my real email address and password for my real password

I run Chrome 76 with a chromedriver that's compatible with Chrome 76.

[2019-09-22 08:27] trinanjan12 opened #26 "no such element: Unable to locate element"
I used the code someone uploaded
**I noticed if the profile name is something like abcfss1 then it works fine. If the profile name  is like
 abc_fss_1 then it shows the below error
for example if my profile is https://www.linkedin.com/in/trinanjan_saha_216751116/ it doesn't work.
**

  (Session info: chrome=77.0.3865.90)
![Screenshot from 2019-09-22 13-55-05](https://user-images.githubusercontent.

[2019-09-28 17:18] joeyism commented on #26
I think your url is wrong for your profile. I can't even access your profile through the browser

[2019-09-28 17:21] joeyism commented on #25
I don't have a linux computer, and I can't seem to reproduce your error. Did you have your chromedriver running multiple times when this error occured?

[2019-09-28 19:51] joeyism commented on #24
Just published `2.4.1`, which should fix this issue

[2019-09-28 19:51] #24 closed

[2019-09-29 07:20] trinanjan12 commented on #26
The correct link should be [ https://www.linkedin.com/in/trinanjan-saha-216751116/](url)
I tested with the same link. The scraper shows the same error.

[2019-10-02 21:27] MPocahontas commented on #26
Have the same error but with another selector when i try to scrape https://www.linkedin.com/in/hanna-krautsova-832720157/, for example. Error: "selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".pv-entity__secondary-title"}".
I use login first.

[2019-10-03 13:19] RitRa commented on #26
I'm having issues too:

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".pv-entity__secondary-title"}

[2019-10-03 14:07] jdmin445 commented on #26
linkedin has just changed their source code... we have to update every selectors....

[2019-10-10 07:13] tedvanderveen opened #27 "Scrape list of Skills"
In the latest version of the LinkedIn website, there does not seems te be a directory of Skills anymore. Could this be added to this library in any way?

[2019-12-09 00:00] DavidCuentasMar opened #28 "Error Running Test Class"
How to replicate the error:
    1) Go to linkedin_scrapper\test
    2) py scrape_person.py
No module name linkedin_user_scraper (I'm using python version 3)

[2019-12-09 01:57] DavidCuentasMar opened #29 "Location Info has not been scraped"
Class Person does not get location info. This could be a very useful data if it is implemented

[2019-12-13 03:35] joeyism commented on #28
Fixed

[2019-12-13 03:35] #28 closed

[2019-12-13 03:38] joeyism commented on #26
This should be fixed now. I've updated the README to show how to do it with login

[2019-12-13 03:38] #26 closed

[2019-12-13 03:39] joeyism commented on #25
Close due to lack of response

[2019-12-13 03:39] #25 closed

[2019-12-13 14:23] Quackerz opened #31 "Keeps refreshing last page of employee scrape"
I'm trying to scrap a list of employees, but when it reaches the last page it will keep looping through it and never complete.

It looks like it has to with the loop continuing while the next element exists. It becomes unclickable on the last page, however.

[2019-12-13 18:43] #29 closed

[2019-12-14 15:55] DavidCuentasMar commented on #31
Can you send a company url? I'm trying with google (https://www.linkedin.com/company/google) and I get the following message in terminal:

selenium.common.exceptions.ElementClickInterceptedException: Message: element click intercepted: Element <button aria-label="Next" id="ember273" class="artdeco-pagination__button artdeco-pagination__button--next artdeco-button artdeco-button--muted artdeco-butt

[2019-12-28 03:52] neil-design opened #33 "IndexError when scraping certain companies"
Forgive me if this is an error on my part, but for most company urls, when I try to scrape I get an IndexError for various lines under scrape_logged_in (also reloads each company page 2-3 times). Sample code and error below (first company works, second doesn't):

`Traceback (most recent call last):
  File "LItest.py", line 16, in <module>
    company = Company("https://www.linkedin.com/company/arc

[2019-12-28 21:10] joeyism commented on #33
This is what I get
[code]

[2020-02-01 11:58] survien opened #34 "facing location problem when scraping person"
When I run this code
[code]
It comes back
[code]

Maybe linkedin has upgrade their website

[2020-02-02 19:59] joeyism commented on #34
Fixed and published in [2.4.3](https://github.com/joeyism/linkedin_scraper/releases/tag/2.4.3)

[2020-02-02 19:59] #34 closed

[2020-02-04 14:40] adityaketkar commented on #33
Hi. I am able to reproduce the same error. Here is the error :
[code]

Here is the code I ran :
[code]

[2020-02-04 14:42] adityaketkar commented on #33
Hi. I am able to reproduce the same error. Here is the error :
[code]

Here is the code I ran :
[code]

I am using the latest version. Any ideas why this might be happening?

[2020-03-20 05:40] ueembio opened #35 "How to scrape list of urls"
Hi I am trying to scrape linkedin profiles , i have urls of profile
for l in link:
        try:
            person = Person(l, driver=driver, scrape=False)
            person.scrape(close_on_complete=False)
But every time i am receiving same profile , what's the issue

[2020-03-20 19:54] joeyism commented on #35
are you appending `person` to a list? because if you just do
[code]
only the last person will be saved

[2020-03-22 19:20] leosaenger opened #36 "NoSuchElementException"
when i run (for some people -- but not all):

[code]
i get:

[code]
has linkedin changed its code again?

[2020-03-28 19:30] joeyism commented on #36
Can you provide an example person where this applies, so I can reproduce it?

[2020-03-28 19:50] joeyism commented on #33
Can you tell me the resolution of your window? I find this only happens when I have low window width. To solve that with headless Chrome, you can run

[code]

[2020-03-28 19:51] #33 closed

[2020-03-31 03:22] alvinhmk commented on #36
Same problem here, for example:

https://www.linkedin.com/in/curtis-ho-113275158/
https://www.linkedin.com/in/chelsea-tan-55a13a24

[2020-04-05 21:37] tcbentley commented on #36
Here as well:
https://www.linkedin.com/in/tade-anzalone/

[2020-04-11 14:34] Ledgrev opened #38 "Error: "export CHROMEDRIVER=~/chromedriver""
Hello,

I'm trying to run this in Jupyter Notebooks. When I enter "export CHROMEDRIVER=~/chromedriver" in an cell and run it, I get the following error message:

`export CHROMEDRIVER=~/chromedriver
  File "<ipython-input-1-f9de4c739fa9>", line 1
    export CHROMEDRIVER=~/chromedriver
                      ^
SyntaxError: invalid syntax`

Could someone help me solve this? Please keep in mind that I

[2020-04-13 17:33] joeyism commented on #38
[code]
is a bash command. Jupyter takes python. In order to run this in Jupyter, you need to run it as a bash command with

[code]

[2020-04-22 11:21] antonija-nosto opened #39 "Index out of range"
I was testing out this script but I couldn't get it going because of

[code]

Any comments on how to overcome this issue?

[2020-04-22 17:50] joeyism commented on #39
Which profile are you using for this?

[2020-05-06 14:21] ActivateDZA commented on #31
Hi

Make sure that your Chrome browser is running in maximize mode that is how I "fixed" this issue.

[2020-05-31 02:19] joeyism commented on #36
Try again. I updated the version and it seem to have fixed it for me

[2020-06-02 14:17] brywhit commented on #31
I'm having a similar issue. I maximized my window but it was still stuck on the last employees page. I'm using my companies page (https://www.linkedin.com/company/3611445).

[2020-06-05 08:21] tchwpkgorg opened #41 "unknown error: DevToolsActivePort file doesn't exist"
I'm trying to run the "SAMPLE USAGE" on a headless server (Ubuntu 20.04) - however, the code crashes with:

[code]

[2020-06-05 10:02] tchwpkgorg opened #42 "Only name and surname scraped?"
Maybe I'm using it wrong, but I wasn't able to retrieve more info than person's name and surname.

Code used:

[code]

It prints out just:

[code]

Do I access the data in a wrong way?

[2020-06-05 14:24] liyanasahir commented on #42
Same issue here! Do let me know if you've figured something out.

[2020-06-05 20:12] CajetanRodrigues opened #43 "This library cannot pass the security check that is done by linkedin before proceeding towards the profile"
Please find the solution to that

[2020-06-06 04:15] AnirudraChoudhury commented on #42
Hi @tchwpkgorg

As LinkedIn page structure i updated i am working on updating the code. @joeyism please assign the issue to me.

[2020-06-06 23:02] joeyism commented on #43
You can get over that portion manually. It's described [in the docs](https://github.com/joeyism/linkedin_scraper#scraping-sites-where-login-is-required-first)

[2020-06-06 23:02] #43 closed

[2020-06-06 23:04] joeyism commented on #41
A quick google says it's [a selenium problem](https://stackoverflow.com/questions/50642308/webdriverexception-unknown-error-devtoolsactiveport-file-doesnt-exist-while-t)

[2020-06-06 23:04] #41 closed

[2020-06-06 23:05] #38 closed

[2020-06-06 23:05] #36 closed

[2020-06-06 23:26] joeyism commented on #31
Okay, this should be fixed in [2.4.5](https://github.com/joeyism/linkedin_scraper/releases/tag/2.4.5)

[2020-06-06 23:26] #31 closed

[2020-06-06 23:26] #20 closed

[2020-06-06 23:26] #19 closed

[2020-06-07 13:56] AnirudraChoudhury commented on #42
Thanks @joeyism  I already make it able to read company name. I am working on the time.

[2020-06-08 13:22] Sl1nkman commented on #5
I believe it to be the CSS locators.

For example, the About us description is now "about-us__description" and no longer "basic-info-description"

[2020-06-11 04:32] AnirudraChoudhury commented on #42
Hi @tchwpkgorg you can try the new version now. Thank you @joeyism for accepting my updates. You can resolve this issue now. This is my first contribution to open source project. Nice to work with you.

[2020-06-11 04:41] AnirudraChoudhury commented on #35
Hi @joeyism  you are right only the last person will be saved. @ueembio If you can try the follwing code you will have the profiles in a list.
[code]

[2020-06-16 02:21] wangheer2010 commented on #35
Can we turn the profile objects to a better format? For example, how can we change it to a data frame?

[2020-06-16 04:03] joeyism commented on #35
@wangheer2010 that's just data manipulation. Depending on what you want, you can extract out something like

[code]

[2020-06-16 04:04] #35 closed

[2020-06-16 12:13] wangheer2010 opened #45 "Is that possible to include all the professional experiences?"
When I try to scrape the LinkedIn profile of myself, I find that only 5 professional experience and be scrapped. Is that possible to scrape all?
In addition, I got the professional experiences twice since I have profiles in two languages. Can I only scrape the English one?

[2020-06-16 20:38] joeyism commented on #45
The code right now isn't created to support multiple language. Can you give me the linkedin profile you're using, so I can try to reproduce?

[2020-06-17 11:39] wangheer2010 commented on #45
Hi,
thank you for the reply. Here is the link.
https://www.linkedin.com/in/chenwang970912/

[2020-07-01 00:52] Turreted opened #46 "Better Way to Get Person's Job Title and Company"
I'm currently using regex to extract information from the person.experiences field

[code]

However, this method is unreliable. Since this is a fairly important feature, I was wondering if linkedin_scraper had a builtin method to handle this. If not, I'd be happy to work on its implementation.

[2020-07-01 20:48] joeyism commented on #46
I don't think there's currently one. If you have time, you can work on it, submit and merge request, and I'll take a look

[2020-07-01 22:47] Turreted commented on #46
Would it be better if the person's most recent company and job title were class attributes, or if each person has a list of previous jobs and titles, with the item at index 0 being their most recent?

[2020-07-02 16:14] Turreted commented on #46
Solution is at request #48

[2020-07-03 22:26] joeyism commented on #46
Thanks for the MR. It's been released in [2.5.0](https://github.com/joeyism/linkedin_scraper/releases/tag/2.5.0)

[2020-07-03 22:26] #46 closed

[2020-07-14 06:23] laksh9950 opened #49 "Company Scrapping not working."
**Traceback (most recent call last):
  File "C:\Users\LAksh\Desktop\test.py", line 14, in <module>
    person = Company("https://www.linkedin.com/company/qubole/", driver=driver)
  File "C:\Users\LAksh\Anaconda3\lib\site-packages\linkedin_scraper\company.py", line 69, in __init__
    self.scrape(get_employees=get_employees, close_on_complete=close_on_complete)
  File "C:\Users\LAksh\Anaconda3\lib\

[2020-07-18 00:35] joeyism commented on #49
You have to add in your own email and password to `email` and `password` (if you're worried about security, you can save as an environment variable or have it prompt you without passing anything in).

After that, your result should be
[code]

[2020-07-18 00:35] #49 closed

[2020-07-18 00:36] joeyism commented on #45
I don't see the multiple languages for this... can you share a screenshot or something?

[2020-07-18 07:26] shawnngtq opened #50 "ERROR: Could not find a version"
I am unable to download this package. I tried:

[code]

These are the errors I am seeing:
[code]

@joeyism, can't wait to try it out 😁

[2020-07-21 09:57] dfreire-dot commented on #50
I have the same error. Did you find any solution? I haven't found anything that solved it for me

[2020-07-22 01:55] jiteshgurav commented on #50
same, has this library been taken off pypi?

[2020-07-22 08:17] shawnngtq commented on #50
No solution from me, I am still waiting for help too ...

[2020-07-22 14:58] joeyism commented on #50
I fixed it in version [2.5.1](https://github.com/joeyism/linkedin_scraper/releases/tag/2.5.1). I tried it locally, it should be working now. If you're getting the same error, you may need to force upgrade with
[code]

[2020-07-25 08:48] shawnngtq commented on #50
@joeyism thanks for the quick fix. I confirmed it works for me.

[2020-07-25 08:48] #50 closed

[2020-07-28 23:22] fhoppe86 commented on #39
i got the same error and i think i found the issue, in company.py in row 153 you have:
grid = driver.find_elements_by_tag_name("section")[3]
but sometimes when you open linkedin you get this cookie policy message: "This website uses cookies to improve service and provide tailored ads. By using this site, you agree to this use. See our Cookie Policy"
if this cookie policy message appears the sectio

[2020-07-29 15:57] joeyism commented on #39
@fhoppe86 oh nice. Can you submit a MR with that and I'll merge it in?

[2020-08-07 03:58] tanyingxiang opened #51 "After installing linkedin_scraper, module still cannot be found"
Hi, I tried installing the linkedin_scraper "!pip install linkedin_scraper"
and tried to run your sample code but this error keeps coming up "ModuleNotFoundError: No module named 'linkedin_scraper'" is the a step which I have missed?

[2020-08-07 07:43] yowbst opened #52 "Cannot use get_employees list index out of range"
Getting the below error when running this line:
company = Company(linkedin_url='https://www.linkedin.com/company/addmin/', driver=driver, scrape=True)
[code]

[2020-08-07 20:32] joeyism commented on #51
can you give more details on how you're doing this? Judging from your code, I'm assuming you're using jupyter-notebook? If so, you can run
[code]
[code]

[2020-08-16 13:43] mohitag09 opened #53 "IndexError: list index out of range - Company Scraper Issues"
#Wrote this basic code to scrape the company profile
from selenium import webdriver
from linkedin_scraper import Company,Person, actions
from IPython.core.debugger import set_trace
import time
driver=webdriver.Chrome(executable_path=r"C:\bin\chromedriver.exe")
#driver.get('http://www.google.com')
email = "<USERNAME>"
password = "<PASSWORD>"
actions.login(driver, email, password) # if email and pas

[2020-08-16 13:45] mohitag09 commented on #53
from selenium import webdriver
from linkedin_scraper import Company,Person, actions
from IPython.core.debugger import set_trace
import time
driver=webdriver.Chrome(executable_path=r"C:\bin\chromedriver.exe")
#driver.get('http://www.google.com')
email = ""
password = ""
actions.login(driver, email, password) # if email and password isnt given, it'll prompt in terminal
#person = Person("https://www.

[2020-08-16 13:50] mohitag09 commented on #52
I am facing similar issue. Any resolution?

[2020-08-17 10:13] lxuis97 commented on #53
Same problem, I got this error message :

Traceback (most recent call last):
  File "linkedin_search.py", line 56, in <module>
    lk_get_company_info('https://www.linkedin.com/company/sicara/')
  File "linkedin_search.py", line 34, in lk_get_company_info
    company.scrape(close_on_complete=False, get_employees=True)
  File "/Users/Louis/Library/Python/3.8/lib/python/site-packages/linkedin_scrape

[2020-08-19 00:10] #51 closed

[2020-08-19 00:27] joeyism commented on #52
I just pushed a fix. Try version [2.5.2](https://github.com/joeyism/linkedin_scraper/releases/tag/2.5.2)

[2020-08-19 00:27] #52 closed

[2020-08-19 00:27] joeyism commented on #53
I just pushed a fix. Try version [2.5.2](https://github.com/joeyism/linkedin_scraper/releases/tag/2.5.2)

[2020-08-19 00:27] #53 closed

[2020-08-19 00:27] #42 closed

[2020-08-24 01:49] mohitag09 commented on #53
Using the fix, getting following error.

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-10-1fef8da42f7f> in <module>
---> 12 company = Company(linkedin_url = "https://www.linkedin.com/company/google",driver=driver,close_on_complete=False,get_employees=False)
     13 set_trace()

[2020-08-24 01:52] mohitag09 opened #54 "IndexError: list index out of range Company Scraper"
Following error by using ver. 2.5.2 as well. Now its not giving the exact line as well where the error is happening
[code]

[2020-08-27 03:52] joeyism commented on #54
Does it only fail for you for python 38? It works for me locally for python 36

[2020-08-31 11:57] lxuis97 commented on #54
Hi do have this, following the update for my part:

Traceback (most recent call last):
  File "linkedin_search.py", line 54, in <module>
    lk_get_company_info('https://www.linkedin.com/company/sicara/')
  File "linkedin_search.py", line 32, in lk_get_company_info
    company.scrape(close_on_complete=False, get_employees=False)
  File "/Users/Louis/Library/Python/3.8/lib/python/site-packages/link

[2020-09-09 19:01] The-Winnster opened #55 "AttributeError: 'NoneType' object has no attribute 'click'"
![image](https://user-images.githubusercontent.com/71037838/92641584-32d71d80-f29c-11ea-8a7b-945ba84ba538.png)

Here is the screenshot of the code. I am trying to do a company scrape but it looks like when I search for 'page_member_main_nav_about_tab' after inspecting the HTML, it does not find anything with that tag name.  Any thoughts? Was running totally fine about 3 weeks ago, but perhaps some

[2020-09-14 05:07] ehsong commented on #5
Hi, I followed the instructions but I am getting a css_selector error:

`'NoneType' object has no attribute 'click'`

[2020-09-14 05:10] ehsong commented on #55
I had exactly the same problem when running the code.

[2020-09-26 08:53] GoswamiTushar commented on #27
Hello, I would to work on this enhancement, I'm new and just learnt web scraping.

[2020-10-01 16:58] The-Winnster commented on #55
Anything I can do to help with the resolution? Happy to help with anything I can.

[2020-10-05 07:05] EktaSangwan commented on #55
Any update ? I'm also getting None in both use cases(while scraping company as well as person)

[2020-10-20 09:00] TrygviZL commented on #55
Just experienced the same.

[2020-10-20 23:00] khalilkafrouni commented on #55
Any update on that issue? I'm getting this error as well.

[2020-10-25 20:50] arnav-deep commented on #27
@joeyism
I can add the feature to retrieve the skill by tomorrow. If no one is working on it, assign it to me.
I have gone through code and can write it in the same manner perfectly.

[2020-10-26 07:55] pooja-anandani opened #57 "Need to restart"

[2020-10-26 08:02] #57 closed

[2020-11-01 18:53] priyankagarg112 commented on #27
Is this feature added?

[2020-11-01 21:12] arnav-deep commented on #27
I don't think so. I've been looking for the go ahead. Haven't gotten any. I guess I'll try doing it on my own.

[2020-11-03 19:30] isaacjoy opened #58 "Not logging in"
Hey there,

Just wondering, I tried the intro code for scraping a profile but the logging in does not working in headless chrome.

Is just adds my email + password and then hangs without submitting.

Appreciate any help.

Isaac

[2020-11-03 19:54] isaacjoy commented on #58
Made a quick fix: https://github.com/joeyism/linkedin_scraper/pull/59

[2020-11-03 23:45] joeyism commented on #58
Merged. You can use as of [2.5.4](https://github.com/joeyism/linkedin_scraper/releases/tag/2.5.4)

[2020-11-03 23:45] #58 closed

[2020-11-03 23:45] joeyism commented on #58
Thanks for the fix

[2020-11-03 23:45] joeyism commented on #55
Fixed as of [2.5.4](https://github.com/joeyism/linkedin_scraper/releases/tag/2.5.4)

[2020-11-03 23:45] #55 closed

[2020-11-03 23:46] joeyism commented on #54
Fixed as of [2.5.4](https://github.com/joeyism/linkedin_scraper/releases/tag/2.5.4)

[2020-11-03 23:46] #54 closed

[2020-11-03 23:50] joeyism commented on #39
This should be fixed as of [2.5.5](https://github.com/joeyism/linkedin_scraper/releases/tag/2.5.5)

[2020-11-03 23:50] #39 closed

[2020-11-03 23:51] joeyism commented on #27
@priyankagarg112 @arnav-deep If you have a fix and want to submit a merge request, I'll gladly take a look at it

[2020-11-04 00:01] joeyism commented on #5
This is fixed now as of [2.5.5](https://github.com/joeyism/linkedin_scraper/releases/tag/2.5.5)

[2020-11-04 00:01] #5 closed

[2020-11-07 08:11] hosam00 opened #60 "Experiences scraped None"
Hello
after trying to scrape someone's profile experiences was None
like this
[Company Name
Synovus at None from None to None for None based at None, Controller at None from None to None for None based at None, CPA - Audit at None from None to None for None based at None]

[2020-11-07 23:11] joeyism commented on #60
Can you drop the profile link so I can try to reproduce it?

[2020-11-09 09:44] hosam00 commented on #60
https://www.linkedin.com/in/gregg-carroll-6718b14
here it is for example
and the result
[Vice President, Cloud Solutions Group at Broadridge from Dec 2007 to Present for 13 yrs based at Edgewood, NY, Windows Systems and Design Engineer at None from None to None for None based at None, IT Infrastructure Manager at None from None to None for None based at None, IT Systems Engineer at None from None

[2020-11-10 04:41] bymi15 opened #61 "Company scraping blocked by authwall"
I'm trying to scrape LinkedIn public Company profile.
But on the first attempt, I get blocked by an authwall page: [https://www.linkedin.com/authwall?trk=gf...](https://www.linkedin.com/authwall?trk=gf...)
How can I bypass this authwall?

In the console I get the following exception:
`selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"

[2020-11-10 09:40] joeyism commented on #61
https://github.com/joeyism/linkedin_scraper#scraping-sites-and-login-automatically

[2020-11-10 19:54] #61 closed

[2020-11-26 11:20] maorkavod commented on #34
it happened to me in my test with this package. i think these problems are because linkedin had changed some UI changes on their website.

[2020-11-26 11:21] maorkavod commented on #60
it happened to me in my test with this package. i think these problems are because linkedin had changed some UI on their website.

[2020-11-29 16:50] francesco1119 opened #64 "Does Linkedin allows to scrap for keyword in "Licenses & certifications"?"
I'm currently studying to obtain a Microsoft MCSA certification.

I would like to scrap LinkedIn in order to understand how many people in the World own a MCSA certification.

From your documentation it looks like there is no way to dig for a keyword into "Licenses & certifications", is that right?
Is that because LinkedIn does not allow us to search for it?
Or is this simply not covered by your l

[2020-11-30 21:13] joeyism commented on #64
It allows for it, but I didn't write the code for it. If you have time, you can fork the project and add it, then submit a PR.

[2020-12-03 13:20] cafehaine opened #65 "Crash when language is not set to english"
Hi!
I've just started using your library and found a small bug.
I have my language set to french in linkedin, which means that the following lines couldn't extract anything:
https://github.com/joeyism/linkedin_scraper/blob/74a0bf6b0ea949ce4e5a41d06febae0d56a9045f/linkedin_scraper/company.py#L195-L210
This also meant that `self.industry` wasn't set to anything (no set to None like the other attribu

[2020-12-03 13:45] joeyism commented on #65
Yea if you submit a MR, i'll take a look at it

[2020-12-08 03:38] xumengyan01 opened #69 "This version of ChromeDriver only supports Chrome version 80"
Hi, I tried with the test code, and it gives me a message that "Message: session not created: This version of ChromeDriver only supports Chrome version 80." Does it mean I have to downgrade my Chrome version? Thanks!

[2020-12-08 07:02] reddyakilesh22 opened #70 "TimeoutException: Message:"
import os
from selenium import webdriver
import time
from linkedin_scraper import actions
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.chrome.options import Options

chr

[2020-12-08 10:35] ronimosh opened #71 "Object cleanup"
I am trying to use the scraper to scrape multiple person profiles in succession.
I am able to get the first profile right, but then when I get the second profile, it seems to be ADDED to the first one, instead of a clean object.
I tried to delete the person object between iterations, but for some reason I still get the data of the second profile in addition to the first. For instance - suppose pro

[2020-12-08 19:26] sargupta commented on #70
I am having same issue (attached)
![Screenshot 2020-12-09 at 00 05 12](https://user-images.githubusercontent.com/28517335/101531516-64ee3d80-39b9-11eb-9c16-f43b54fdb225.png)

[2020-12-09 12:38] ronimosh commented on #71
Managed to overcome this by "hard" initialization of the parameters when initializing the Person class,  Not sure why this works since the defaults should have done the same trick.

[2020-12-10 04:31] reddyakilesh22 commented on #70
Yup, I'm getting the same thing as @sargupta.
@joeyism Please look into this.

[2020-12-11 02:58] gauravkr93 commented on #69
Check the version of your google chrome and download the respective chrome driver version.

[2020-12-12 12:56] #65 closed

[2020-12-12 12:59] joeyism commented on #71
I don't know why that happens. If you find a fix for it, feel free to submit a MR

[2020-12-12 13:00] joeyism commented on #69
Yea this error is specific to chrome and your version of chrome driver, independent from this project.

[2020-12-12 13:00] #69 closed

[2020-12-12 13:01] joeyism commented on #70
It seems like this has to do with linkedin not letting you login. If you don't use `--headless`, what does Linkedin on Chrome look like?

[2020-12-20 20:01] senecalikedmochas opened #74 "Cross referencing people’s experiences"
Hello! I'm fairly new to programming, so apologies if this sounds naive. Here's my question:

- I have a 6K contacts db with LinkedIn urls,name, and experience. I would like to scrape each of their LinkedIn profiles and see if anyone has a different experience/at a different company that what I have in my db.

How can I accomplish that?

I would appreciate any suggestions.

Thank you

[2020-12-21 11:02] joeyism commented on #74
I'll need to add a feature to make this happen. If you know how, you can fork this repo, add this feature, then submit a MR and I'll take a look at that

[2020-12-21 11:13] senecalikedmochas commented on #74
Thanks! Do you know exactly what kind of feature and to what file (i.e Persons or Company)?

If you have a conceptual sense of what needs to be done, please lmk and I can go with that

[2020-12-22 14:00] joeyism commented on #74
Let's say you start of with a user MainUser. You'll need to write code that scrapes MainUser's contacts. Submit a MR for that.

Actually, if you just want to compare it and you already have a list of Linkedin User profiles, you can iterate through the data in your DB, scrape user data with `Person`, and compare the url, name, and experience from `Person` to the dat ain your DB.

[2020-12-22 14:47] senecalikedmochas commented on #74
Right your second suggestion makes sense. How can I scrape the experience of a person? I don't see a "Experience.py", so just wondering..

[2020-12-27 19:58] joeyism commented on #74
https://github.com/joeyism/linkedin_scraper/blob/master/linkedin_scraper/person.py#L34

[2021-01-16 21:13] MarcoXM opened #75 "Chrome version"

[2021-01-16 21:24] #75 closed

[2021-01-18 14:10] lukaskoeni commented on #71
Hi there, I have the same issue right now. Even after I actively delete the person instance, I end up getting the prior scraping results in the following loop iteration as described here.

[2021-01-19 08:13] joeyism commented on #71
@lukaskoeni can you give me the code that you're running? I'll use that as a reference to try and reproduce the error

[2021-01-20 14:27] akshayminocha5 commented on #70
Having the same issue

[2021-01-21 06:43] reddyakilesh22 commented on #70
@akshayminocha5  Bro add/do these changes and it will work.

from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(ChromeDriverManager().install())

[2021-01-21 10:06] RubenPants commented on #27
Any update on this?

[2021-01-21 13:29] Hampycalc opened #76 "Company scraper results (almost) empty"
linkedin-scraper==2.7.1 (from pypi)
OS: Debian Buster
Chrome v88.0.4324.96
Chrome driver 88.0.4324.96

Issue: Running the scraper on a Company results in a (mostly) empty result:
Example:

[code]

Result:

[code]

[2021-01-23 10:12] lukaskoeni commented on #71
@joeyism Here is a boiled down version of my code

`from linkedin_scraper import Person, actions
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
import time

# load chrome
driver = webdriver.Chrom

[2021-01-27 20:05] joeyism commented on #71
this is my modified version of your code

[code]

and this is the result
![Screenshot from 2021-01-27 21-04-05](https://user-images.githubusercontent.com/7503144/106046996-4f58e280-60e3-11eb-8bcf-d26a50dc3fa5.png)

[2021-01-27 20:54] joeyism commented on #76
Okay, I fixed the bug. [2.7.2](https://github.com/joeyism/linkedin_scraper/releases/tag/2.7.2) should work

[2021-01-30 12:44] ronimosh commented on #71
Here's the jist of my code. I managed to overcome the problem of data
retained between calls by hard clearing the array and deleting the object
between calls.
-----------
from linkedin_scraper import Person, actions
from selenium import webdriver
import requests as re
import time
import sys

driver = webdriver.Chrome()
actions.login(driver, email, password)

line = ""
while True :
    # read next

[2021-01-30 12:52] lukaskoeni commented on #71
You‘re most likely running into anti scraping provisions by LinkedIn. Try adding at least 60sec of waiting between scraping two consecutive profiles.

[2021-01-30 13:17] ronimosh commented on #71
Will try.
I am adding 10 seconds after every 10 profiles, but I will try increasing
it.

Thanks!

On Sat, Jan 30, 2021 at 2:52 PM lukaskoeni <notifications@github.com> wrote:

[2021-02-03 10:53] mgutmann commented on #71
Your solution worked for me too. Also, currently I am using a random 30 to 60 second delay and I don't seem to get empty responses.

[2021-02-05 07:26] kunalsharmagnome opened #78 "WebDriverException: Message: 'chromedriver' executable needs to be in PATH"
yes i have set the CHROMEDRIVER variable
export CHROMEDRIVER=/home/rudrank/Documents/kunal/coderepo_up/kunalup/chromedriver_linux64

code i am trying to run is <company = Company(url)>

this is the issue :
#get information about comapny
company = Company("https://www.linkedin.com/company/company_name/")
---------------------------------------------------------------------------
FileNotFoundError

[2021-02-05 12:56] joeyism commented on #78
Try it with
[code]
instead

Your problem now is strictly a chromedriver issue

[2021-02-11 08:26] GiulioRossetti commented on #23
Hi, I noticed that when scraping a user the list of contacts in the result refers to the logged account, not to the user itself.

[2021-02-11 13:10] haoyangx2 opened #79 "To save all employees information into excel from Company scrape"
Hi! Thanks for the great work. Quick question: how can I scrape for all the employees for a specific company? I enabled get_employees=True, but was unable to see any information in the returned company object.

[2021-02-12 04:26] swagluke commented on #71
Having similar issues with the object clean up as well. Tried  @ronimosh approach to hard reset all parameters, which help to get rid of the previous person profile but I see a lot more empty fields on the scraping results now. For example, About, Experience, Interests are just showing as empty arrays.
@joeyism Your modified version code didn't work, if you run another person scarping after, you w

[2021-02-12 09:45] joeyism commented on #79
Do you have an example of code you're running? It's difficult to know the error just from this issue right now

[2021-02-13 14:08] lukaskoeni opened #80 "Expandable Experiences and Education"
Hi there,

I realized that when people on LinkedIn have more than a certain number of entries in their experience or education section, the scraper does not recognize the entries that only show up, when you click 'show more'.

To scrape all the available information, the scraper would need to detect the show more button and click it, before collecting the html elements.

Have not come around to im

[2021-02-15 14:46] aabalde opened #81 "Crashing with the company scrape"
Ey! First of all thank you very much for the work. This scrapper is so nice! I have downloaded it and I have been testing it with the README examples, but it seems that is crashing with the company scrape part. The error returned is as follows:

[code]

The person scrape works fine, is just with the companies. As I said my code is similar to the examples:

[code]

I don't know if its my fault and

[2021-02-16 09:32] joeyism commented on #81
hmm you're right, I'll look into it

[2021-02-19 02:22] sushil79g commented on #76
I am using 2.7.2 but still company returns empty

[2021-02-20 22:22] sametsoekel commented on #27
agree with @RubenPants , is this feature added ? I guess none of enthusiastic people here had no time or forgot to add that cuz not included in latest version. @joeyism I willingly could do this if no one is workin' on it !

[2021-02-22 11:03] joeyism commented on #27
@sametsoekel if you can, that would be great

[2021-02-22 14:39] kumarankp opened #82 "you are not logged in! please verify the capcha then press any key to continue..."
chrome tab automatically getting closed after it gets logged in.

person.scrape()

you are not logged in!
please verify the capcha then press any key to continue...

[2021-02-23 10:52] joeyism commented on #82
https://github.com/joeyism/linkedin_scraper#scraping-sites-where-login-is-required-first

[2021-02-23 23:58] kaifresh commented on #81
Hey guys. I've also run into the same error. Im guessing Linkedin have changed their classnames recently?

[code]

[2021-02-25 03:59] dazulu4 commented on #70
I have the same problem but the solution proposed don't work for me. This is my code:
`options = Options()
options.add_argument('--headless')
options.add_argument('--no-sandbox')
options.add_argument('--disable-dev-shm-usage')
options.add_argument('--disable-gpu')
options.add_argument("--disable-notifications")
options.add_experimental_option('useAutomationExtension', False)
options.binary_locatio

[2021-02-25 11:46] joeyism commented on #70
Do you have `google-chrome` or `google-chrome-stable` installed?

[2021-02-25 11:50] khushi1503 opened #83 "you are not logged in! please verify the capcha then press any key to continue... Error!!"
Following is my code -

[code]

But I am constantly getting the following error (even though I have logged into linkedin) -
you are not logged in!
please verify the capcha then press any key to continue...

[2021-02-25 13:48] dazulu4 commented on #70
No, I only installed Chromium browser!
- Chromium 87.0.4280.66 Built on Ubuntu
- ChromeDriver 87.0.4280.66

[2021-02-25 15:51] joeyism commented on #83
Add a break after `actions.login`, finish the captcha, then run the `scrape`

[2021-02-25 15:51] joeyism commented on #70
@dazulu4 you need to install `google-chrome` or `google-chrome-stable`

[2021-02-25 16:20] khushi1503 commented on #83
What is to be entered in the captcha?
From where do we get it?

[2021-02-26 09:18] joeyism commented on #83
You need to verify that you are not a bot by manually filling out [CAPTCHA](https://en.wikipedia.org/wiki/CAPTCHA). So when chrome starts up, you can manually enter the CAPTCHA code, and when you get to the main page, you can start the scraping process

[2021-03-04 04:09] JulianAntonioMurillo commented on #83
Hi, I had a similar issue. It may be because you are running the scrape twice? When I run person = Person("https://www.linkedin.com/in/khushi-thakkar-906b56188/", driver=driver, close_on_complete = False) it scrapes the page without the Captcha error. If you're running that in addition to person.scrape(close_on_complete=False) Linkedin Will Prompt another login and you'll get a message saying "You

[2021-03-08 04:14] JulianAntonioMurillo opened #84 "Reset "person" Class attributes?"
Hi, is there any way of resetting person class attributes so that when I run a for-loop to scrape multiple profiles I can reset attributes (job_title, experience, about, etc.)? Because right now when I scrape multiple profiles, it appends the last persons info to the next persons info in each column... eventually accumulating all profile information per column. Any help would be greatly appreciate

[2021-03-08 09:36] joeyism commented on #84
Are you creating a new person object every time?

[2021-03-08 12:01] JulianAntonioMurillo commented on #84
No, I'm trying to though. Code for for-loop below:

for individual,link in contact_dict.items():

    ## assign ##
    the_name = individual
    the_link = link
    # scrape LinkedIn url's:
    person = Person(the_link, driver=driver, close_on_complete=False)

    # rows to be written in CSV
    rows = [[person.name, person.about, person.job_title, person.location, person.company,
             per

[2021-03-08 21:35] joeyism commented on #81
Oh I see, it's because you guys aren't logged in. I should've noticed it earlier in the error code:
[code]

[code]

[2021-03-08 21:57] #83 closed

[2021-03-08 21:57] #82 closed

[2021-03-08 21:57] #78 closed

[2021-03-08 21:58] joeyism commented on #76
They changed some references. Try [2.7.3](https://github.com/joeyism/linkedin_scraper/releases/tag/2.7.3)

[2021-03-08 22:05] joeyism commented on #80
@lukaskoeni Do you have an example of when this happens?

[2021-03-09 06:38] lukaskoeni commented on #80
For this profile here, as an example:

https://www.linkedin.com/in/katina-kralevska-ph-d-a8574416/

Under Education there are 4 entries, but I only see the 4th, when I click on 'show more'. The Scraper only retrieves the first 3 entries.

[2021-03-09 18:31] joeyism commented on #80
@lukaskoeni  Try it with [2.7.4](https://github.com/joeyism/linkedin_scraper/releases/tag/2.7.4) and let me know if it works. It worked when I tested it, but I want to make sure it works for you too

[2021-03-09 20:23] JulianAntonioMurillo commented on #84
I reinstalled version 2.7.5... same issue occurs? With list attributes such as person.about and person.educations... it appends all .about information for each person scraped in the for-loop.

![Installed](https://user-images.githubusercontent.com/61395774/110532512-c49bd800-80d1-11eb-9c33-9cc02e621445.png)
![Same Dilemma](https://user-images.githubusercontent.com/61395774/110532613-e9904b00-80d1-

[2021-03-09 21:53] joeyism commented on #84
I can't reproduce your code because i don't have your list. This works for me though
[code]

[2021-03-10 03:24] JulianAntonioMurillo commented on #84
**Same Issue?**

I restarted my Python/PyCharm session after installing version 2.7.5:

![Terminal Output](https://user-images.githubusercontent.com/61395774/110571322-3e50b780-810c-11eb-8301-274d3f98e661.png)

Still getting the same output: For list attributes it still appends/accumulates all persons information.

![Same issue?](https://user-images.githubusercontent.com/61395774/110571514-79eb818

[2021-03-10 09:38] joeyism commented on #84
Can you add your csv list?

[2021-03-10 10:06] JulianAntonioMurillo commented on #84
Git won't let me upload .CSV... but .xlsx here:
[ContactList.xlsx](https://github.com/joeyism/linkedin_scraper/files/6114973/ContactList.xlsx)

[2021-03-10 10:45] joeyism commented on #84
Just paste the urls here and i'll reconstruct it

[2021-03-10 11:44] JulianAntonioMurillo commented on #84
**Pasted Below:**

https://www.linkedin.com/in/nicole-yonan-579989140

https://www.linkedin.com/in/erin-fabian-7b671a13a

https://www.linkedin.com/in/makayla-orlandi-957366130

[2021-03-10 12:14] joeyism commented on #84
This is what I did
[code]
This is what I got
![Screenshot from 2021-03-10 13-13-50](https://user-images.githubusercontent.com/7503144/110627607-7b678900-81a2-11eb-933b-b8228442a264.png)

[2021-03-10 18:34] JulianAntonioMurillo commented on #84
It worked!!! But for whatever reason it only works when I use Jupyter NoteBooks? Must be a configuration issue?? No idea. But thanks so much. I'm a HUGE fan of your work. Especially the https://nnnba.herokuapp.com/ project!!! So cool!! @joeyism

[2021-03-11 04:43] JulianAntonioMurillo commented on #84
Thanks so much for your time. I will be sure to recommend close friends to your repositories and plug your profile/work.

[2021-03-11 04:43] #84 closed

[2021-03-11 16:05] alexFranka opened #85 "letter f throws error when running the application"
https://github.com/joeyism/linkedin_scraper/blob/e988acf4cad1f97c5958a7ab0f2507b797c9cc7c/linkedin_scraper/person.py#L191

[2021-03-11 17:08] joeyism commented on #85
Are you on python 3.6+?

[2021-03-12 13:06] alexFranka commented on #85
I was but then downgraded to python 2.7

[2021-03-12 14:01] alexFranka commented on #85
Now that we're on topic, am I supposed to be able to run this in Python 3.6+? I tried to run this using version 3.9 as my interpreter and got a few errors, but if I use 2.7 the app runs fine

[2021-03-12 14:34] joeyism commented on #85
What's the error you get in 3.9?

[2021-03-12 17:18] alexFranka commented on #85
well what do you know... I deleted the previously added 3.9 interpreter and added it back and now it works, lol sorry false alarm

[2021-03-12 22:18] #85 closed

[2021-03-17 16:42] kavithamanivel commented on #81
Hi Joe,

I tried the mentioned code but getting below error
NoSuchElementException: no such element: Unable to locate element: {"method":"css selector","selector":".org-people-profiles-module__profile-list"}
  (Session info: chrome=89.0.4389.90)

[2021-03-18 09:38] joeyism commented on #81
@kavithamanivel Can you paste the entire code and error, including which line it's failing? Also the version you're using

[2021-03-20 19:50] iFireMonkey commented on #81
Since Kavi hasn't replied regarding this error and I got the same error I thought i'd provide some more info on it:

[code]

[2021-03-22 10:02] joeyism commented on #81
@iFireMonkey Can you provide the code you used, and the version you're using please?

[2021-03-22 11:52] kavithamanivel commented on #81
Hi Joey,

import os
from linkedin_scraper import Person, Company, actions
from selenium import webdriver
driver = webdriver.Chrome('path/chromedriver')
user = input("Username: ")
password = input("Password: ")
actions.login(driver, user, password)
company = Company("https://www.linkedin.com/company/life360", driver=driver, close_on_complete=False)
print(company)

*** I can able to connect linkedin

[2021-03-22 12:48] itsbillzhang opened #87 "NoSuchExceptionWarning"
Hi, first off thanks for making the script.

I was using it fine last week. However, opening it today, and trying it on, on the same code, which is:

urls = [ "...", "...",
]
bobs = []
for url in urls:
    a = Person(url, driver=driver, close_on_complete=False)
    bobs.append(a)

I get a "Message: no such element: Unable to locate element: {"method":"css selector","selector":".pv-top-card"}
  (Se

[2021-03-22 15:23] Lightmare2 commented on #87
Hi,

I was just setting up my company scraper this week and a similar warning occured.

My code:
[code]
and got this Error message:

NoSuchElementException: no such element: Unable to locate element: {"method":"css selector","selector":".org-people-profiles-module__profile-list"}
  (Session info: chrome=89.0.4389.90)

So similar error but in my case, the code doesn't work at all..

Ps thank you fo

[2021-03-23 02:19] iFireMonkey commented on #81
Just in case it helps, here is my code as well!

[code]

The experimental options are to stop the prompt from spamming about a missing bluetooth driver, however even without it I have the same issue.

[2021-03-28 10:28] albertoZurini opened #88 "Chrome throws (maybe bot detection?)"
![image](https://user-images.githubusercontent.com/24524861/112749182-06c58480-8fc1-11eb-9789-8f20d5ee1baf.png)

I'm currently using an undetected chromedriver [https://github.com/ultrafunkamsterdam/undetected-chromedriver](https://github.com/ultrafunkamsterdam/undetected-chromedriver)

[2021-03-28 12:05] joeyism commented on #88
Uh... this has never happened to me before. Can you paste your code?

[2021-03-28 12:10] albertoZurini commented on #88
[code]

[2021-03-28 12:26] albertoZurini commented on #88
I found this network request `tack`
![image](https://user-images.githubusercontent.com/24524861/112752053-6035af80-8fd1-11eb-86bd-9ea1d2935db1.png)

`copy as curl` -> run doesn't return anything while `curl https://www.linkedin.com/li/track` returns `GOOD`, maybe this request has some sort of bot detection

[2021-03-29 22:53] asidapara opened #89 "Employee List not pulling up"
Hey Joey,

I am getting the following error when I find the employees of a company with a couple thousand people working there.

selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".org-people-profiles-module__profile-list"}

It looks like Linkedin only lets me look at "People you may know"? Is there a way to d

[2021-03-30 02:41] alikhambati commented on #89
I am also getting this error, not sure how to work around it.

[2021-03-30 13:44] Lightmare2 opened #90 "Not scraping the HQ Location"
Hi,

I'm using your code for my master thesis (thanks btw) to scrape certain information of media companies. I'm interested in the type ,location (HQ) and the amount of employees. I made a preliminary script based on your code to test out if it would work.

I managed to scrape all the info that I need: Name, Type & size except for the headquarters. It returns "None" for the four companies that I t

[2021-04-01 09:28] NLCas8 commented on #90
Experiencing the same here. Let me know if you found a fix!

[2021-04-01 19:44] Lightmare2 commented on #90
Thank you Cas!

[2021-04-01 19:45] #90 closed

[2021-04-02 00:02] gbuchdahl opened #91 "Unable to locate element on person scrape"
When running `person = Person(url, driver=driver)`, script throws the following error for each person:

[code]

I can try to debug, but first wanted to be sure that this isn't something obvious that I'm missing.

[2021-04-05 21:23] austkel opened #92 "Search?"
Is there any way to search using this?

[2021-04-06 01:59] alikhambati commented on #91
its bc linked in change the html

[2021-04-08 02:39] AbelNC5 commented on #91
I have the same problem, but like this: `Message: Unable to locate element: .top-card-layout__title`, now that you answered, how can I make it work?
Note: This happened after I changed the driver to Firrefox, because  with Chrome, it was exactly the same message.

[2021-04-08 13:18] ngillani commented on #34
Hello!  Hope you're well.  Running into this same issue in version 2.7.5 for a different profile ... it was able to succesfully scrape it once but seems to fail other times.  I wonder if a longer wait time is needed to let the page finish loading (and maybe then the element will be rendered?)

[2021-04-10 17:52] DirectRoot commented on #91
Potential fix in https://github.com/joeyism/linkedin_scraper/pull/93

[2021-04-10 20:52] joeyism commented on #88
because we're using selenium, the page should fully load including track if it runs. Can you run it without the chrome options? They may detect bot with incognito and no sandbox mode.

[2021-04-10 20:54] joeyism commented on #91
Try it with [2.7.6](https://github.com/joeyism/linkedin_scraper/releases/tag/2.7.6), or the solution by @DirectRoot . Essentially, this happens because the page isn't fully loaded yet

[2021-04-10 20:55] joeyism commented on #87
Ok, I fixed the `top-card` error in [2.7.6](https://github.com/joeyism/linkedin_scraper/releases/tag/2.7.6). Let me know if it still doesn't work for you, I can make the delay longer

[2021-04-10 21:17] joeyism commented on #81
Ok, I think I fixed it in [2.7.7](https://github.com/joeyism/linkedin_scraper/releases/tag/2.7.7)

[2021-04-10 21:17] joeyism commented on #89
I fixed this in [2.7.7](https://github.com/joeyism/linkedin_scraper/releases/tag/2.7.7)

[2021-04-10 21:18] joeyism commented on #92
No, I haven't implemented search on it. If you're up to the task, you can do it and submit a PR

[2021-04-10 21:26] joeyism commented on #34
Hi @ngillani , i just released a new version. Try it and let me know

[2021-04-15 02:52] stainedglassheart commented on #81
Hi Joey, I just downloaded this package and the version states 2.8.0. However I am still getting the following error when using the company scrape:

driver = webdriver.Chrome()
email = "***"
password = "***"
actions.login(driver, email, password)
company = Company("https://www.linkedin.com/company/pinnacle-west-capital-corporation/", get_employees=True)

NoSuchElementException: no such element: Un

[2021-04-18 06:26] tak-oda opened #94 "list index out of range in case of Person"
Hi joeysim,

I faced following error when I execute Person(url, driver).

1.  Message
     File "C:\Users\takes\anaconda3\lib\site-packages\linkedin_scraper\person.py", line 113, in scrape_logged_in
    self.name = root.find_elements_by_xpath("//section/div/div/div/*/li")[0].text.strip()

    IndexError: list index out of range

2.  Code
    driver = webdriver.Chrome()
    actions.login(driver, em

[2021-04-18 15:34] joeyism commented on #81
@stainedglassheart this is my code
[code]
and the results
[code]

[2021-04-18 15:37] joeyism commented on #94
@tak-oda this is my code
[code]
and this is the results
[code]

[2021-04-18 17:30] ricardobsjunior opened #95 "Does not bring the job descriptions text"
In the part of the experiences comes only the titles, does not bring the job description. Can anyone help pls?

![Captura de tela de 2021-04-18 14-28-51](https://user-images.githubusercontent.com/2563893/115154682-82f83880-a052-11eb-8d6b-6503b8a78a91.png)

[2021-04-20 10:51] urwithajit9 commented on #94
Hi @tak-oda
I am getting the same issue, login is being successful and the profile page also gets open in the browser but scrape return list out of index error.
I think XPath changed by LinkedIn.

Regards.

[2021-04-20 11:59] aradzekler opened #96 "Trying to scrape emplyees of a company always returns a list of None's"
No error or anything, just doesnt seem to work on employees, anyone succedded in scraping employees from company?

[2021-04-20 18:10] joeyism commented on #94
@urwithajit9 it's certainly possible. Can you paste your code so I can reproduce your error? If not, it's difficult to fix it

[2021-04-20 18:10] joeyism commented on #96
Do you have code on how you're trying to do it?

[2021-04-21 06:02] aradzekler commented on #96
same as the latest fork, the company line itself is:
`                        company = Company(row['linkedin_profile_generic'], driver=self.driver,
                                          close_on_complete=False, get_employees=True)
                         input_df.at[0, 'employees'] = company.employees
`
outputs: [None, None]

[2021-04-21 11:27] aradzekler commented on #70
I'm getting exactly the same error: `  File "C:\Users\User\PycharmProjects\dough\scraping\linkedin_profile_scraper\actions.py", line 48, in login
    WebDriverWait(driver, randint(5, 6)).until(EC.presence_of_element_located((By.ID, "profile-nav-item")))
  File "C:\Users\User\anaconda3\envs\scraping_env_3_8\lib\site-packages\selenium\webdriver\support\wait.py", line 80, in until
    raise TimeoutEx

[2021-04-21 15:30] aradzekler opened #97 "Cannot find item "profile-nav-item" after logging in"
Tried `WebDriverWait(driver, randint(10, 15)).until(EC.presence_of_element_located((By.ID, "profile-nav-item")))` which gives the following error: `  File "C:\Users\User\anaconda3\envs\scraping_env_3_8\lib\site-packages\selenium\webdriver\support\wait.py", line 80, in until
    raise TimeoutException(message, screen, stacktrace)
selenium.common.exceptions.TimeoutException: Message:` and
`time.slee

[2021-04-21 18:03] joeyism commented on #96
I ran this code
[code]
then when I ran
[code]
I get
![Screenshot from 2021-04-21 20-03-14](https://user-images.githubusercontent.com/7503144/115600162-a9310900-a2dc-11eb-9e1e-076e44624f2d.png)

[2021-04-21 18:19] joeyism commented on #97
Try [2.8.2](https://github.com/joeyism/linkedin_scraper/releases/tag/2.8.2)

[2021-04-21 18:20] joeyism commented on #95
Can you paste the code you're using that isn't working?

[2021-04-21 18:21] joeyism commented on #70
Try [2.8.2](https://github.com/joeyism/linkedin_scraper/releases/tag/2.8.2)

[2021-04-21 23:41] ricardobsjunior commented on #95
[code]

this code bring only the main title, and I trying to catch the full description of the job too

[2021-04-22 06:55] aradzekler commented on #97
works! thank you so much!

[2021-04-22 06:55] #97 closed

[2021-04-22 06:56] aradzekler commented on #96
I get a list the size of the company employees but the list contains only None's

[2021-04-25 10:09] samduuk opened #98 "TimeoutException(message, screen, stacktrace)"
I have tried running the following code, but keep getting  TimeoutException(message, screen, stacktrace). Is the following code correct?

from linkedin_scraper import Person, Company, actions
from selenium import webdriver
from linkedin_scraper import Company

driver = webdriver.Chrome("/Applications/chromedriver")

email = 'myemailaddress'
password = 'mypassword'
actions.login(driver, email, pass

[2021-04-25 14:19] aradzekler commented on #98
comment out the line: chrome_options.add_argument("--headless") and try to see in the browser what is happening, maybe your account is blocked/wrong login details.

[2021-04-25 14:44] samduuk commented on #98
I don't have chrome_options.add_argument("--headless") in my line  of code. I can login with no problem, but it does not seem to go on the company page and I then get the error message

[2021-04-26 15:17] aradzekler commented on #94
try replace the following line in person.py: `self.name = root.find_elements_by_xpath("//section/div/div/div/*/li")[0].text.strip()`
with this: `self.name = root.find_elements_by_xpath("//section/div/div/div/*/li-icon")[0].text.strip()`

[2021-04-28 14:50] fox895 opened #99 "Add Cookie capabilities"
I really like this package but passing my email and password to a script it's not ideal in my mind.
I know that I can load them using environmental variable but I still think there are better ways.
Other packages have the abilities to pass the LI_AT cookies to the selenium driver thus avoiding the necessary login procedure.

Could be a nice feature to let the user decide to use either the login fo

[2021-04-30 06:07] AKazlauskaite opened #100 "You are not logged in!"
When I run my code, I get an exception "you are not logged in! please verify the capcha then press any key to continue...". But I`m logged in and don`t receive any captcha. The exception occurs after "person = Person("https://www.linkedin.com/in/andre-iguodala-65b48ab5", driver=driver)", because the required page is open.

from linkedin_scraper import Person, actions
from selenium import webdriver

[2021-05-01 22:26] joeyism commented on #100
Did you replace `email` and `password` with your own email and password?

[2021-05-01 22:27] joeyism commented on #99
That's a good point. If you know how to pass it, maybe you can help me or just submit a PR and I'll take a look at it

[2021-05-01 22:32] joeyism commented on #96
![Screenshot from 2021-05-02 00-31-36](https://user-images.githubusercontent.com/7503144/116796574-c5ebee80-aadd-11eb-8394-78febe38907f.png)

Some of them may be None if it can't scrape it, but there are definitely some there.

The details aren't filled out because this is scrapped just from the company's employees list, which doesn't contain much info. If you want to get more details, you'll have

[2021-05-02 15:51] fox895 commented on #99
I haven't check your code in details, but when you create the selenium driver/browser you can do:
`
driver.add_cookie({
                'name': 'li_at',
                'value': li_tat_cookie_value,
                'domain': '.linkedin.com'
            })
`

Only point is I believe you have to inject this cookie after visiting LinkedIn a first time...

[2021-05-04 07:02] tak-oda commented on #94
Hi @aradzekler ,

Thank you so much for your comment.  I am unable to try your solution because I encounter the other error before coming to this method. It looks like I have the same error as #100 during the login call. Let me hold this communication until I solve another error.

[2021-05-07 14:53] chiefeno commented on #100
Same issue, no captcha and it says that I'm not logged in. I replace the email and password

[2021-05-17 22:10] nsidicaro opened #102 "Company scraper results (almost) empty"
linkedin-scraper==2.8.2 (from pypi)
OS: Windows 10
Chrome v90.0.4430.212
Chrome driver 90.0.4430.212
Scrape attempt date: 2021-05-17

CODE
driver = webdriver.Chrome()
email = ############
password = #############
company = Company(linkedin_url= 'https://www.linkedin.com/company/123456', driver=driver, get_employees=False,  close_on_complete=False)
print(company)

OUTPUT:
##########

########## is

[2021-05-19 05:40] doubleUTF commented on #94
I get the same error and tried your method but still fails:
`line 114, in scrape_logged_in
    self.name = root.find_elements_by_xpath("//section/div/div/div/*/li-icon")[0].text.strip()
IndexError: list index out of range`

Seems the xpath needs updating because it's not finding anything.

Code:
`from linkedin_scraper import Person, actions
from selenium import webdriver
driver = webdriver.Chrome(

[2021-05-19 21:45] Kaixkhazaki opened #103 "company followers"
Hi I am relatively new in Python,

I was trying to get company followers as a variable but so far no luck. Could someone please show me how can I extract it as a new variable?

[2021-05-27 15:47] cusco opened #104 "person xpath not working"
I guess this will always be a game of cat & mouse

LinkedIn changes is html, this lib updates it.... over and over

It would be nice tho, if this lib was constantly updated.

Perhaps I could look into the correct xpath and submit a PR.. this is the first time I'm trying this, not sure if scrapping LinkedIn by hand is worth or its better using a tool such as phantombuster

[code]

[2021-05-27 19:26] genechuang commented on #104
I think my issue is same cause, LinkedIn changing xpath index,  I'm trying to scrape Location of Person and I'm getting "10 connections" instead, and looks like linkedin_url and job_title are correct, but name and location attributes have been shifted:

actions.login(driver, email, password)
person = Person("https://www.linkedin.com/in/bruce-lee-199550188/", driver=driver, scrape=True)

print("url

[2021-06-08 15:12] cloda01 commented on #81
Hello,

today with Chrome version 91.0.4472.77 and ChromeDriver 91.0.4472.19 i get the error

`selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".name"}
  (Session info: chrome=91.0.4472.77)`

i tried with many companies page. Also https://ca.linkedin.com/company/google

someone else with the same error?

tha

[2021-06-11 08:12] cloda01 commented on #81
today it works!

[2021-06-22 16:12] alexandre-alphonsos commented on #104
Change:
self.name = root.find_elements_by_xpath("//section/div/div/div/*/li")[0].text.strip()
To:
self.name = root.find_elements_by_xpath("//section/div/div/div/*/h1")[0].text.strip()

[2021-07-10 13:03] #99 closed

[2021-07-10 13:07] joeyism commented on #104
Ok, this has been fixed now. Sorry for the delay, my jobs got really busy.

[2021-07-10 13:07] #104 closed

[2021-07-10 13:11] joeyism commented on #103
If it exists, it should be in `company.showcase_pages[0].followers`. If it doesn't work, let me know which company you're trying on because I can't find a company with followers

[2021-07-10 13:14] joeyism commented on #102
Can you try it again with [2.9.0](https://github.com/joeyism/linkedin_scraper/releases/tag/2.9.0)? I tried it and I see more things now

[2021-07-10 13:15] joeyism commented on #94
Can you try it with [2.9.0](https://github.com/joeyism/linkedin_scraper/releases/tag/2.9.0)? A lot of things are fixed in that version

[2021-07-10 13:15] joeyism commented on #100
Can you try it with [2.9.0](https://github.com/joeyism/linkedin_scraper/releases/tag/2.9.0)? A lot of things are fixed in that version

[2021-07-10 13:15] joeyism commented on #95
Can you try it with [2.9.0](https://github.com/joeyism/linkedin_scraper/releases/tag/2.9.0)? A lot of things are fixed in that version

[2021-07-21 21:24] DiamondBond opened #107 "employees: null"
code sample:
[code]

output sample:
`
{"name": "Workiva", "about_us": "Workiva Inc. (NYSE: WK) simplifies complex work for thousands of organizations worldwide. Customers trust Workiva\u2019s open, intelligent, and intuitive platform to connect data, documents, and teams. The results: improved efficiency, greater transparency, and less risk.", "specialties": "Government Reporting\nInternal Control

[2021-07-22 03:47] Joshuashou opened #108 "Is there a way to scrape the connections of an individual?"
For a Person object, I was wondering if you could also incorporate the names of the connections that this individual is connected to.

[2021-07-22 16:41] Joshuashou opened #109 "Scraping an Individual gives all Null, apart from Contacts which just returns connection of the account Owner"
For some reason, after doing Person(url, driver, scrape = true),

after doing print(person) all of the fields are given null categories, and only the contacts give values, which are connections of the account owner, not of the connection of the person scraped.

Any ideas how to circumvent this issue?

[2021-07-25 20:12] DiamondBond commented on #107
fixed for now if you just disable employees i guess

[2021-07-25 20:12] #107 closed

[2021-07-25 21:11] DiamondBond opened #110 "How to scrape headcount?"
how do i scrape headcount?
[img eg](https://i.imgur.com/JMc6DfA.png)

[2021-07-26 16:46] admond1994 commented on #100
Hi @joeyism , I'm using 2.9.0 and still got the same issue as above. Any resolve?

[2021-07-27 15:06] joeyism commented on #100
@admond1994 Can you paste the code you are using? I'll try to reproduce it.

[2021-07-27 15:39] admond1994 commented on #100
Hi @joeyism , below is the code that I'm using:

`path_to_chromedriver = "path-to-my/chromedriver"
driver = webdriver.Chrome(path_to_chromedriver)

# login details
email = "some-email@email.address"
password = "password123"

# if email and password isn't given, it'll prompt in terminal
actions.login(driver, email, password)

profile = "https://www.linkedin.com/in/admond1994/"
person = Person(profi

[2021-08-02 19:42] weasel3b commented on #95
Same Issue.  I'm using 2.9.0 and all I get is the Company, full time, daymonthyear to daymonthyear, and location.  Its not pulling the bulleted inputs at all.

[2021-08-05 12:00] Alex-Bujorianu commented on #102
I am having the exact same issue. I’m on 2.9.0 and using Chromium for the web driver. With the exception of the company name, there is nothing.

[2021-08-05 12:51] Alex-Bujorianu opened #111 "Large number of nulls in scraped data, especially for companies"
Hello,

I posted a comment about this, but I think it would be better to open a new issue. When using version 2.9.0 on Manjaro with Chromium, I get a bunch of null values when trying to scrape companies.

The following code

[code]
produces the following output:

[code]
Looking through the code, it has to be something in company.py around lines 206 onwards. It looks like it’s parsing the right HTM

[2021-08-10 06:27] Msukoo commented on #100
I have same unresolved error!! ㅜㅜ

[2021-08-14 02:42] Joshuashou commented on #111
Hey Alex, I was wondering if you see the same issues when doing Person scrape? For me, Person Scrape often returns a list of null values, and I was wondering if it's a similar issue as this one, thanks!

[2021-08-24 14:16] boompig commented on #91
I'm seeing a similar error but for `li`:

[code]

[2021-09-01 12:23] depocoder opened #115 "Location parsed wrong"
in field location we got connections
I found this bug when on this [profile](https://www.linkedin.com/in/%D0%B8%D0%B2%D0%B0%D0%BD-%D0%B8%D0%B2%D0%B0%D0%BD%D0%BE%D0%B2-1b66b6166/) scraper was fallen.

![screenshot](https://i.imgur.com/JcCW0q5.png)

[2021-09-01 12:27] depocoder commented on #91
I fix this problem in https://github.com/joeyism/linkedin_scraper/pull/116

[2021-09-04 11:35] Mayank8085 commented on #100
I am also facing the same issue
if you find any solution please let me know

[2021-09-07 19:24] raf-kan commented on #100
Hey everyone! I have the same issue as well, seems to be blocked by a captcha after going through the "connections" page. I have almost the exact same code as everyone above. Hope that helps.

[2021-09-21 19:09] donfouts commented on #100
same problem too

[2021-10-05 13:40] Rineraj commented on #81
Hi,  i get the error,

selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".name"} (Session info: chrome=94.0.4606.61)

when I try to scrape bulk number of companies, like around 1000 companies.
Does anyone face the same issue?

[2021-10-06 17:48] shubhangichaturvedi02 commented on #81
I'm getting the same error.Has anyone got the solution?

[2022-01-08 16:54] hapesurya opened #118 "Can't install in virtual environment"
Hello there

I'm trying install this marvelous script in my python virtual environment, but it failed.

ERROR: Can not perform a '--user' install. User site-packages are not visible in this virtualenv.

Any suggestion?

Thanks before.

[2022-01-31 08:02] a7med7asan15 commented on #100
Same issue here, I'm not sure if resolved or not but sometimes linkedin sends an email with a number that you should write it in the field

[2022-02-14 22:49] LanikaiLi commented on #100
same problem, too, is it because LinkedIn is protecting itself from being scrapped? Did any of you guys solved it?

[2022-02-20 15:25] saerii commented on #81
Same error running the code below.

### Error Message
[code]

### Code
[code]

[2022-02-23 14:17] tanmaysachan commented on #109
@joeyism I'm facing the very same issue. Any ways to fix this?

[2022-03-03 17:42] mustafa-kapadia1483 commented on #118
remove the "--user" from the command
instead of
`pip3 install --user linkedin_scraper`
use command:
`pip3 install --user linkedin_scraper`

[2022-03-30 23:13] sAbhay commented on #110
I've added this functionality in #120

[2022-04-06 13:36] skurt opened #121 "How to"
Hi!
I made this library work and thank you for your efforts.
I managed to run it, it opens a window, logs into linked in...impressive.

Now I tried all the variants of code provided to scrape a persons profile and when it works, it always gives me empty sets for experiences and basically everything.

I tried to investigate a little (I'm not that big of a coder) and from the Persons init it looks l

[2022-04-06 13:38] skurt commented on #102
Did you manage to solve this issue?

[2022-04-06 14:04] nsidicaro commented on #102
I put together some code in R to do it, so i didnt check it again. Sorry

[2022-04-06 15:23] skurt commented on #102
Would it be possible to share it?

[2022-04-16 16:31] #110 closed

[2022-04-24 04:31] liyifu0302 opened #122 "Scrape empty lists"
Hi joey,

Recently I found that I can not scrape anything from Linkedin, most of the pulled information is empty. Both for person and company information, any suggestions? Below are the code and output. Many thanks!

### **Output 1:**
Jaime Gilberto Adrián Zúñiga Espinoza
About
[]
Experience
[]
Education
[]
Interest
[]
Accomplishments
[]
Contacts
[]
### **Output 2:**
{"name": "Google", "about_us":

[2022-04-25 13:47] Rapid1898-code opened #123 "Basic example only return empty result?"
Hello - i tried the basic example with the following code -

[code]

But i only return an empty result for all lists.

Am i doing something wrong here?
Or is there some general problem in the module?

[2022-04-27 22:01] JamesSatherley commented on #123
I'm getting this issue too. Any solution?

[2022-04-27 22:01] JamesSatherley commented on #122
I'm getting this issue too. Any solution?

[2022-05-11 12:17] duxinglin1 opened #124 "code execution backdoor"
We found a malicious backdoor in versions 2.0.0~2.5.0 of this project, and its malicious backdoor is the request package. Even if the request package was removed by pypi, many mirror sites did not completely delete this package, so it could still be installed.When using pip3 install linkedin-scraper==2.5.0 -i http://pypi.doubanio.com/simple --trusted-host pypi.doubanio.com, the request malicious p

[2022-05-13 07:48] mobilelifeful opened #125 "feature inplmentation ? can we have the phone numbers as we?"
Thank you for sharing this,
wonder if we can have the connection numbers as well? thank you in advance.

[2022-05-22 09:17] duxinglin1 opened #126 "code execution backdoor"
We found a malicious backdoor in versions 0.0.1~2.0.0 of this project, and its malicious backdoor is the request package. Even if the request package was removed by pypi, many mirror sites did not completely delete this package, so it could still be installed.When using pip3 install linkedin-user-scraper -i http://pypi.doubanio.com/simple --trusted-host pypi.doubanio.com, the request malicious plu

[2022-05-22 09:32] duxinglin1 commented on #124
linkedin-scraper in PyPI: https://pypi.org/project/linkedin-scraper/

[2022-07-24 15:31] HeinrichHaller opened #127 "newest selenium ==4.3.0 breaks the example?"
I think the * in the requirements for selenium breaks the example. It gets 4.3.0 installed that apparently does not have the attribute 'find element by id' anymore.
Like described here:
https://stackoverflow.com/questions/72754651/attributeerror-webdriver-object-has-no-attribute-find-element-by-xpath

selenium version after fresh install:

'4.3.0'

error in the example:

Traceback (most recent cal

[2022-07-27 17:14] matardy commented on #127
Yes, it breaks the examples.
update requirements.txt file with this:
selenium==4.2.0
requests
lxml

[2022-07-27 17:28] matardy opened #128 "css class not found"
[code]

Raise this error:

`selenium.common.exceptions.NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".top-card-layout__title"}`

Any updates on linkedin 2022?

[2022-07-29 22:44] DanielAbsi opened #129 "unable to use it"
Hi this is my script:

[code]

I'm on mac M1 when selenium is able to open chrome on my M1 arm Mac(latest version of python and pip). Using this script:
[code]
but once The bot try to login with the email and password: `actions.login(driver, email, password)` this is when I get this error:

[code]

requirements.txt is install with pip
How can I fix the issue?
Thanks

[2022-08-04 23:14] JBLarson commented on #127
Thank you @matardy
You're a life saver

[2022-08-08 12:40] ernests commented on #128
It looks like Linkedin has made UI changes and by doing so also changed class names. As this tool is scraping UI it can't locate stuff anymore.

[2022-08-10 21:52] lasagna0 commented on #129
You need to use a older version of seleniun, cause they change the attribute 'find_element_by_id' in their most recent release. I recommend to you use 4.2.0. You can specify it in the requirements.txt as selenium==4.2.0

[2022-08-17 03:05] kstephensen opened #132 "Path for selenium"
Hey can someone walk through this step?

Where does this go?

export CHROMEDRIVER=~/chromedriver

[2022-08-17 15:03] datatalking commented on #132
This looks like it needs to be entered into the terminal or a "output to Linux" type event.

Can you be more specific as to where you got this or what step this refers to?

[2022-08-17 16:21] kstephensen commented on #132
![Screen Shot 2022-08-17 at 9 19 14 AM](https://user-images.githubusercontent.com/46613273/185191466-79d3e2c7-7fd4-459e-8de8-da37a63f0085.png)

It comes from the "Set Up" step. I'm using a Mac

[2022-08-23 00:12] jayhack commented on #111
I have the same issue - person scrapes return a bunch of nulls

[2022-08-29 08:40] ianbongs commented on #128
wait so does this mean this app can't work at all now?

[2022-08-30 17:12] matardy commented on #128
Yes, it is actually a challenge to make scraping from linkedin because its UI keeps in constant change.

[2022-09-05 16:29] valentijnverberk commented on #128
Facing the same issue - how can we get it to work?

[2022-09-05 16:42] matardy commented on #128
We need to study LinkedIn Web Structure and change all css classes names.
For example the container who shows the work experience in a LinkedIn profile used to have the name "experiences" now the name is "css-selector-8..." and so.

[2022-09-26 15:11] ErlingLie commented on #109
Did you find any solution to this?

[2022-09-26 15:12] ErlingLie commented on #96
When I scrape each person separately I get a result like your image over there with all fields as empty lists. Any ideas how to fix this?

[2022-09-26 19:30] PARODBE opened #134 "Scrapping linkedin jobs description"
Hi,

Thank you for this so useful library. One quesion is possible to use this library for scrapping a link of linkedin for multiple jobs y obtain description? (Skills, salary,  description of the job...etc).

Thanks!

[2022-09-29 02:18] 1zuu commented on #123
Seems we can't this use anymore, unless they update the tool for LinkedIn 2022 UI version

[2022-09-29 02:20] 1zuu commented on #128
What @matardy says is true.  we can't use this anymore unless they update the tool for LinkedIn 2022 UI version

[2022-09-29 02:25] JamesSatherley commented on #123
Linked in UI changes every couple weeks so it'll stay broken

[2022-10-04 11:57] jamesdeluk commented on #100
Did anyone find a solution to this? I'm still getting this. These is no captcha - in fact, it's not even on the login page:
![image](https://user-images.githubusercontent.com/27723508/193813587-2b876760-fcc9-413d-a07e-c72dcc1aecfa.png)

[2022-10-16 19:02] SaduniHettihewa opened #135 "Null values for person"
only show the person's name.. how to scrap other data?

![image](https://user-images.githubusercontent.com/65414736/196053159-901f27ff-da31-4b35-a044-e09f08ed7ce6.png)

[2022-11-10 20:06] danielhangan commented on #132
1. Find what chrome version you have installed on your computer.
2. Go to https://pypi.org/project/chromedriver-py/#history and install the same version of chromedriver
3. And then
[code]

P.S. I think you have to pip install chromedriver_binary --no-cache-dir

[2022-11-10 20:07] danielhangan opened #136 "AttributeError: 'WebElement' object has no attribute 'find_element_by_class_name'"
Traceback (most recent call last):
  File "/Users/hangandaniel/Documents/interlinked-se/data/scrapers/lkd.py", line 14, in <module>
    person = Person("https://www.linkedin.com/in/danielhangan", driver=driver)
  File "/Users/hangandaniel/Library/Python/3.9/lib/python/site-packages/linkedin_scraper/person.py", line 62, in __init__
    self.scrape(close_on_complete)
  File "/Users/hangandaniel/Libr

[2022-11-14 19:47] mattfromboston opened #137 "Open to work feature"
Following up on this same message I sent you on LinkedIn.-  I want to search for people and message people that list on their LinkedIn profile "open to work".  You can see on my profile this "open to work" feature surrounding my photo. The only way to search for "open to work" people with LinkedIn is to purchase their "recruiter" plan which is about $1100 per month. Can your scraper do this?  Best

[2022-11-14 19:59] dmehrotra commented on #136
I'm having a similar issue. Any fixes?

[2022-11-15 11:29] joeyism commented on #136
It may be a problem with login. Can you run
[code]
and ensure that you're fully logged in when the chrome driver opens?

[2022-11-15 11:30] joeyism commented on #135
Can you give me more details on it? I can't reproduce this bug

[2022-11-15 11:44] danielhangan commented on #136
@joeyism I can see how the scraper is logging in and going to the person page.
But it throws the error while loading the person's page, after it logged in.

Is there a **time.sleep** between load_page and  and find_element_by_class_name?

[2022-11-15 11:53] joeyism commented on #137
@mattfromboston was this what you're thinking of?
![Screenshot from 2022-11-15 12-51-17](https://user-images.githubusercontent.com/7503144/201913231-c2c858a9-1cc7-4b6d-b091-df8481609cae.png)

[2022-11-15 12:08] mattfromboston commented on #137
Thank you for the response.  My apologies if my response is not very clear-I am not very technical

I want to be able to message people that have chosen to put on their Linkedin settings that they are "open to work".  When they do this setting the "open to work" verbiage appears around their profile.  Please see attached visual

In a perfect world would like to be able to download all of this into

[2022-11-15 13:40] abdou0102 commented on #136
same problem
any solution plz

[2022-11-15 17:43] joeyism commented on #136
Yea, it should wait until the top card is loaded.

[See](https://github.com/joeyism/linkedin_scraper/blob/master/linkedin_scraper/person.py#L107)

[2022-11-17 08:27] jnzhnd commented on #136
This is probably an issue with selenium - see [this stackoverflow thread](https://stackoverflow.com/questions/72773206/selenium-python-attributeerror-webdriver-object-has-no-attribute-find-el). Until this is fixed, you can solve it by downgrading selenium.

[2022-11-18 07:10] tejush1998 opened #139 "Message: no such element: Unable to locate element: {"method":"css selector","selector":".top-card-layout__title"}"
Hey everyone,
I'm getting this error while trying to login into linkedin, I have double checked email and password but still not working
[code]

[2022-11-18 07:19] #139 closed

[2022-11-19 09:41] joeyism commented on #139
So it works now?

[2022-11-19 09:44] joeyism commented on #136
For references, I have
[code]
and on chrome side
[code]
You can check your drivers and stuff by running
[code]

[2022-11-19 14:34] yoweeking opened #140 "Scraping Company employees list only returns Null"
trying to scrape companies and a lot of times I am getting Null in the employees list, here is the code I am running:

chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome("../chromedriver.exe")
company = Company("https://www.linkedin.com/company/genesis-trading/", get_employees=True, driver=driver)

and the response looks like this:
{"name": "Genesis", "a

[2022-11-24 12:35] nifik101 commented on #109
Same! Any answer to this or What kind of info is needed to debug?

[2022-11-24 12:58] WillP111 commented on #109
I have the same issue.

[2022-11-24 17:08] DA-Mena commented on #140
css selector for container of employees is too generic sometimes and it grabs the wrong element. Going to down the list of Fortune 500 companies, this solution couldn't get #1 on the list which was Walmart. I had to rewrite the logic to the appropriate element as well as load any Dom elements I could from the infinite scrolling list it has to grab a good sample size.

[2022-11-24 17:10] DA-Mena commented on #140
css selector for container of employees is too generic sometimes and it grabs the wrong element. Going down the list of Fortune 500 companies, this solution couldn't get https://github.com/joeyism/linkedin_scraper/issues/1 on the list which was Walmart. I had to rewrite to the appropriate element as well as load any Dom elements I could from the infinite scrolling list to grab a good sample size.

[2022-11-24 17:20] yoweeking commented on #140
Thanks @DA-Mena - do you have an example of how you managed to get it to work please?

[2022-11-25 09:07] joeyism commented on #109
Okay, i'll take a look

[2022-11-25 09:57] WillP111 commented on #109
Thanks

[2022-11-25 19:07] rafikg commented on #139
@joeyism  Same error here and it does not work. Can you please specify which version of selenium are you using ?

[2022-11-25 22:36] rafikg opened #142 "Xpath are no longer valid"
Hi @joeyism
I run the person scraper but it return everything empty. I debug and I see that Xpath looks no longer the same.
Example here: it throw an `TimeoutException`

[code]

[2022-11-26 22:36] RogeMetz commented on #136
I'm facing the same error here:

Exception has occurred: AttributeError
'WebElement' object has no attribute 'find_element_by_class_name'
  File "C:\Users\rogem\Desktop\Project 02\LinkedIn Web Scraper.py", line 8, in <module>
    person = Person("https://www.linkedin.com/in/rogemetz", driver=driver)

Any solution?

[2022-11-26 22:58] danielhangan commented on #136
@RogeMetz just downgrade selenium version. It worked for me.